<section class="error_slider_area">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="error_slider">
              <h2>404</h2>
            </div>
          </div>
        </div>
      </div>
</section>

<div class="breadcumb_area">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="bread_box">
              <ul class="breadcumb">
                <li><a href="index.html">home <span>|</span></a></li>
                <li><a href="">Pgaes <span>|</span></a></li>
                <li class="active"><a href="">404</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
</div>

<section class="error_not_found_area">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="error_not_found">
              <img src="images/not_found.png" alt="" />
              <h2>Ohh! Page Not Found</h2>
              <p>This file May Have Been Moved or Deleted. Be Sure to Check Your Spelling.</p>
              <input type="text" placeholder="search again..." />
              <i class="fa fa-search"></i>
            </div>
          </div>
        </div>
      </div>
</section>
