<div class="header">
  <div>
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="header_center">
          <a [routerLink]="['/']" routerLinkActive="router-link-active" ><img src="../../assets/images/pokeLogo.PNG" style="height: 90px; margin-top: -15px;" alt="Site Logo" /></a>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="header_left floatleft">
          <input type="text" class="search" placeholder="search" />
          <button class="searchBtn"></button>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-12 floatright">
        <div class="header_right">
          <ul class="checkout">
            <li><a [routerLink]="['/checkout']" routerLinkActive="router-link-active" ><img src="../../assets/icon/heart.png" style="width: 15px"> wishlist</a></li>
            <li class="mobi_right_li"><a href="checkout"><img src="../../assets/icon/shopping-cart.png" style="width: 15px">
                checklist</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
