<div class="header">
  <div>
    <!-- <div class="row"> -->
      <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="header_center">
          <a [routerLink]="['/']" routerLinkActive="router-link-active" ><img src="assets/images/pokeLogo.png" style="height: 90px; margin-top: -15px;" alt="Site Logo" /></a>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="search_container">
          <!-- Todo: Search Product -->
          <button class="searchBtn" (click)="this.categoryService.SearchMonster()" ></button>
          <input type="text" class="search" placeholder="search" [(ngModel)]="this.categoryService.SearchString" />
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-12 floatright">
        <div class="header_right">
          <ul class="checkout">
            <!-- Todo: Wish List -->
            <!-- <li><a [routerLink]="['/']" routerLinkActive="router-link-active" ><img src="assets/icon/heart.png" style="width: 15px"> wishlist</a></li> -->
            <li class="mobi_right_li"><a [routerLink]="['/checkout']" routerLinkActive="router-link-active" ><img src="assets/icon/shopping-cart.png" style="width: 15px"> 結帳去</a></li>
          </ul>
        </div>
      </div>
    <!-- </div> -->
  </div>
</div>
