<!--<div class="breadcumb_area">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="bread_box">
              <ul class="breadcumb">
                <li><a [routerLink]="['/index']" routerLinkActive="router-link-active" >home <span>|</span></a></li>
                <li><a [routerLink]="['/category/general']" routerLinkActive="router-link-active" >Shop <span>|</span></a></li>
                <li><a [routerLink]="['/cart']" routerLinkActive="router-link-active" >Cart <span>|</span></a></li>
                <li class="active"><a [routerLink]="['/']" routerLinkActive="router-link-active" >checkout</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
</div>-->
<div class="breadcumb_area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="bread_box">
          <ul class="breadcumb">
            <div [ngClass]="{'style': true}">
              <li><a [routerLink]="['/cart']" routerLinkActive="router-link-active">← Back to Cart</a></li>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="checkout_area">
    <form #myForm="ngForm" class="myForm" ngNativeValidate>
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-sm-8 col-xs-12">
            <div class="checkout_left">
              <h4>Info</h4>
              <h2>資料確認</h2>
              <div class="dotted_line"></div>

              <div class="checkout_form">
                <!-- <div class="country_select">
                  <p>國家 Country <span>*</span></p>
                  <select class="selectpicker sel_state" [(ngModel)]="Data.country" name="country">
                    <option>Taiwan</option>
                    <option>China</option>
                    <option>USA</option>
                    <option>Japan</option>
                  </select>
                </div> -->

                <div class="c_name_box">
                  <div class="c_name_box_left">
                    <p>姓名 Name</p>
                    <p>{{ authService.userInfo.name }}</p>
                    <!-- <div *ngIf="myForm.controls['name'].hasError('required') && myForm.controls['name'].touched">
                      <span style="color:red">Name is required.</span>
                    </div> -->
                  </div>
                </div>

                <div class="c_mail_box">
                  <div class="c_name_box_left">
                    <p>電子郵件 Email</p>
                    <p>{{ authService.userInfo.email }}</p>
                    <!-- <input type="text" placeholder="Email" [(ngModel)]="Data.email" name="email" required>
                    <div *ngIf="myForm.controls['email'].hasError('required') && myForm.controls['email'].touched">
                      <span style="color:red">Email is required.</span>
                    </div> -->
                   </div>
                </div>

                <div class="c_address">
                  <p>住址 Address <span>*</span></p>
                  <input type="text" placeholder="郵遞區號" [(ngModel)]="Data.ZoneNumber" name="ZoneNumber" #zoneNumber="ngModel" (keyup)="ZoneNumberUpdate()" required pattern="\d{3}">
                  <input type="text" disabled placeholder="城市" [(ngModel)]="Data.City" name="city" #city="ngModel" required>
                  <input type="text" disabled placeholder="區" [(ngModel)]="Data.Zone" name="zone" #zone="ngModel">
                  <input type="text" placeholder="路、街、樓層、號" [(ngModel)]="Data.Address" name="address" #address="ngModel" required>
                  <div *ngIf="(city.hasError('required') || address.hasError('required')) && address.touched">
                    <span style="color:red">請填寫正確住址</span>
                  </div>
                </div>

                <div class="c_mail_box">
                  <div class="c_name_box_left">
                    <p>手機號碼 Phone <span>*</span></p>
                    <input type="text" placeholder="Phone" [(ngModel)]="Data.phone" name="phone" #phone="ngModel" required pattern="09\d{8}">
                    <div *ngIf="(phone.hasError('required') || phone.hasError('pattern')) && phone.touched">
                      <span style="color:red">請填寫正確手機號碼</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- rightSide -->
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="checkout_right">
              <h4>再次檢查您の寶貝</h4>
              <div class="product_form_total">
                <div class="c_main_item">
                  <p>寶貝</p>
                  <span>總價</span>
                </div>
                <!-- 列出寶貝, 總價 -->
                <ng-container *ngFor="let item of order">
                  <div class="c_single_item">
                    <p>{{ item.NAME }} : <br>{{ item.Price }} x {{ item.Count }}</p>
                    <span>${{ item.Price * item.Count }}</span>
                  </div>
                </ng-container>

                <!-- Todo 運費 -->
                <div class="c_single_item sp_single_item">
                  <p>運費 Shipping Charge</p>
                  <span>Free</span>
                </div>

                <!-- Total -->
                <div class="c_total_item sp_single_item">
                  <p>總價錢 Total</p>
                    <span>${{ Data.total }}</span>
                </div>
              <!--  <div class="c_payment">
                  <p>Select Payment Method</p>
                  <select class="selectpicker sel_state" [(ngModel)]="payment" name="payment" required>
                    <option>Direct Bank Transfer</option>
                    <option>Wire Transfer</option>
                    <option>VISA</option>
                  </select>
                </div>-->
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="ck" [(ngModel)]="ck" required> 已閱讀 <span>神奇寶貝購買手冊</span>
                  </label>
                </div>
                <input type="submit" value="準備好收服神奇寶貝了！ BUY" [disabled]="!myForm.valid" (click)="output()"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
</section>
