<!-- Todo: 排序商品 -->
<section class="trending_area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="trending_box">
          <h2>排行榜</h2>
          <div class="multi_line"></div>

          <div role="tabpanel">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active" (click)="sortByDate()"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">新寵上市<span> x </span></a></li>
              <li role="presentation" (click)="sortByPrice()"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">低價銷售<span> x </span></a></li>
              <li role="presentation" (click)="sortBySold()"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">最夯熱賣</a></li>
            <!--  <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">訓練師評價</a></li>-->
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
<!--新寵上市-->
              <div role="tabpanel" class="tab-pane active" id="home">
               <div id="owl-example" class="owl-carousel">

                <div class="item">
                  <div class="item-sub">
                    <a [routerLink]="['/product-detail']" routerLinkActive="router-link-active"><h5>.</h5></a>
                  </div>
                </div>

                  <div class="item">
                      <div class="item-img">
                        <img [src]="this.monsterSvc.getMonsterImgsExp(500, 650, product[0].id, 1)" alt="" />
                        <div class="tr-add-cart">
                          <ul>
                            <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                            <li><a class="tr_text" (click)="AddToCart(product[0].id, product[0].price, product[0].discount)" href="##">ADD TO CART</a></li>
                            <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                            <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail', product[0].id]" routerLinkActive="router-link-active"></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="item-new">
                        <p>New</p>
                        <span *ngIf="product[0].discount !== 0">{{product[0].discount}}%</span>
                      </div>
                      <div class="item-sub">
                        <a [routerLink]="['/product-detail',product[0].id]" routerLinkActive="router-link-active"><h5>{{product[0].NAME}}</h5></a>
                        <p>${{getPrice(product[0].price,product[0].discount)}} <span *ngIf="product[0].discount !== 0"><del>${{product[0].price}}</del></span></p>
                      </div>
                      </div>

                      <div class="item">
                      <div class="item-img">
                        <img [src]="this.monsterSvc.getMonsterImgsExp(500, 650, product[1].id, 1)" alt="" />
                        <div class="tr-add-cart">
                          <ul>
                            <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                            <li><a class="tr_text" (click)="AddToCart(product[1].id, product[1].price, product[1].discount)" href="##">ADD TO CART</a></li>
                            <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                            <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[1].id]" routerLinkActive="router-link-active"></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="item-new">
                        <p>New</p>
                        <span *ngIf="product[1].discount !== 0">{{product[1].discount}}%</span>
                      </div>
                      <div class="item-sub">
                        <a [routerLink]="['/product-detail',product[1].id]" routerLinkActive="router-link-active"><h5>{{product[1].NAME}}</h5></a>
                        <p>${{getPrice(product[1].price,product[1].discount)}} <span *ngIf="product[1].discount !== 0"><del>${{product[1].price}}</del></span></p>
                      </div>
                      </div>

                      <div class="item">
                      <div class="item-img">
                        <img [src]="this.monsterSvc.getMonsterImgsExp(500, 650, product[2].id, 1)" alt="" />
                        <div class="tr-add-cart">
                          <ul>
                            <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                            <li><a class="tr_text" (click)="AddToCart(product[2].id, product[2].price, product[2].discount)" href="##">ADD TO CART</a></li>
                            <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                            <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[2].id]" routerLinkActive="router-link-active"></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="item-new">
                        <p>New</p>
                        <span *ngIf="product[2].discount !== 0">{{product[2].discount}}%</span>
                      </div>
                      <div class="item-sub">
                        <a [routerLink]="['/product-detail',product[2].id]" routerLinkActive="router-link-active"><h5>{{product[2].NAME}}</h5></a>
                        <p>${{getPrice(product[2].price,product[2].discount)}} <span *ngIf="product[2].discount !== 0"><del>${{product[2].price}}</del></span></p>
                      </div>
                      </div>

                      <div class="item">
                      <div class="item-img">
                        <img [src]="this.monsterSvc.getMonsterImgsExp(500, 650, product[3].id, 1)" alt="" />
                        <div class="tr-add-cart">
                          <ul>
                            <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                            <li><a class="tr_text" (click)="AddToCart(product[3].id, product[3].price, product[3].discount)" href="##">ADD TO CART</a></li>
                            <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                            <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[3].id]" routerLinkActive="router-link-active"></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="item-new">
                        <p>New</p>
                        <span *ngIf="product[3].discount !== 0">{{product[3].discount}}%</span>
                      </div>
                      <div class="item-sub">
                        <a [routerLink]="['/product-detail',product[3].id]" routerLinkActive="router-link-active"><h5>{{product[3].NAME}}</h5></a>
                        <p>${{getPrice(product[3].price,product[3].discount)}} <span *ngIf="product[3].discount !== 0"><del>${{product[3].price}}</del></span></p>
                      </div>
                      </div>

                      <div class="item">
                      <div class="item-img">
                        <img [src]="this.monsterSvc.getMonsterImgsExp(500, 650, product[4].id, 1)" alt="" />
                        <div class="tr-add-cart">
                          <ul>
                            <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                            <li><a class="tr_text" (click)="AddToCart(product[4].id, product[4].price, product[4].discount)" href="##">ADD TO CART</a></li>
                            <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                            <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[4].id]" routerLinkActive="router-link-active"></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="item-new">
                        <p>New</p>
                        <span *ngIf="product[4].discount !== 0">{{product[4].discount}}%</span>
                      </div>
                      <div class="item-sub">
                        <a [routerLink]="['/product-detail',product[4].id]" routerLinkActive="router-link-active"><h5>{{product[4].NAME}}</h5></a>
                        <p>${{getPrice(product[4].price,product[4].discount)}} <span *ngIf="product[4].discount !== 0"><del>${{product[4].price}}</del></span></p>
                      </div>
                      </div>

                      <div class="item">
                      <div class="item-img">
                        <img [src]="this.monsterSvc.getMonsterImgsExp(500, 650, product[5].id, 1)" alt="" />
                        <div class="tr-add-cart">
                          <ul>
                            <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                            <li><a class="tr_text" (click)="AddToCart(product[5].id, product[5].price, product[5].discount)" href="##">ADD TO CART</a></li>
                            <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                            <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[5].id]" routerLinkActive="router-link-active"></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="item-new">
                        <p>New</p>
                        <span *ngIf="product[5].discount !== 0">{{product[5].discount}}%</span>
                      </div>
                      <div class="item-sub">
                        <a [routerLink]="['/product-detail',product[5].id]" routerLinkActive="router-link-active"><h5>{{product[5].NAME}}</h5></a>
                        <p>${{getPrice(product[5].price,product[5].discount)}}<span *ngIf="product[5].discount !== 0"><del>${{product[5].price}}</del></span></p>
                      </div>
                      </div>

                      <div class="item">
                      <div class="item-img">
                        <img [src]="this.monsterSvc.getMonsterImgsExp(500, 650, product[6].id, 1)" alt="" />
                        <div class="tr-add-cart">
                          <ul>
                            <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                            <li><a class="tr_text" (click)="AddToCart(product[6].id, product[6].price, product[6].discount)" href="##">ADD TO CART</a></li>
                            <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                            <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[6].id]" routerLinkActive="router-link-active"></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="item-new">
                        <p>New</p>
                        <span *ngIf="product[6].discount !== 0">{{product[6].discount}}%</span>
                      </div>
                      <div class="item-sub">
                        <a [routerLink]="['/product-detail',product[6].id]" routerLinkActive="router-link-active"><h5>{{product[6].NAME}}</h5></a>
                        <p>${{getPrice(product[6].price,product[6].discount)}} <span *ngIf="product[6].discount !== 0"><del>${{product[6].price}}</del></span></p>
                      </div>
                      </div>

                      <div class="item">
                      <div class="item-img">
                        <img [src]="this.monsterSvc.getMonsterImgsExp(500, 650, product[7].id, 1)" alt="" />
                        <div class="tr-add-cart">
                          <ul>
                            <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                            <li><a class="tr_text" (click)="AddToCart(product[7].id, product[7].price, product[7].discount)" href="##">ADD TO CART</a></li>
                            <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                            <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[7].id]" routerLinkActive="router-link-active"></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="item-new">
                        <p>New</p>
                        <span *ngIf="product[7].discount !== 0">{{product[7].discount}}%</span>
                      </div>
                      <div class="item-sub">
                        <a [routerLink]="['/product-detail',product[7].id]" routerLinkActive="router-link-active"><h5>{{product[7].NAME}}</h5></a>
                        <p>${{getPrice(product[7].price,product[7].discount)}} <span *ngIf="product[7].discount !== 0"><del>${{product[7].price}}</del></span></p>
                      </div>
                      </div>

                      <div class="item">
                      <div class="item-img">
                        <img [src]="this.monsterSvc.getMonsterImgsExp(500, 650, product[8].id, 1)" alt="" />
                        <div class="tr-add-cart">
                          <ul>
                            <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                            <li><a class="tr_text" (click)="AddToCart(product[8].id, product[8].price, product[8].discount)" href="##">ADD TO CART</a></li>
                            <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                            <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[8].id]" routerLinkActive="router-link-active"></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="item-new">
                        <p>New</p>
                        <span *ngIf="product[8].discount !== 0">{{product[8].discount}}%</span>
                      </div>
                      <div class="item-sub">
                        <a [routerLink]="['/product-detail',product[8].id]" routerLinkActive="router-link-active"><h5>{{product[8].NAME}}</h5></a>
                        <p>${{getPrice(product[8].price,product[8].discount)}} <span *ngIf="product[8].discount !== 0"><del>${{product[8].price}}</del></span></p>
                      </div>
                      </div>

              </div>
            </div>
<!--低價銷售-->
            <div role="tabpanel" class="tab-pane" id="profile">
              <div id="owl-example-two" class="owl-carousel">

                <div class="item">
                  <div class="item-img">
                    <img [src]="this.monsterSvc.getMonsterImgsExp(500, 650, product[0].id, 1)" alt="" />
                    <div class="tr-add-cart">
                      <ul>
                        <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                        <li><a class="tr_text" (click)="AddToCart(product[0].id, product[0].price, product[0].discount)" href="##">ADD TO CART</a></li>
                        <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                        <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[0].id]" routerLinkActive="router-link-active"></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="item-new">
                    <p>New</p>
                    <span *ngIf="product[0].discount !== 0">{{product[0].discount}}%</span>
                  </div>
                  <div class="item-sub">
                    <a [routerLink]="['/product-detail',product[0].id]" routerLinkActive="router-link-active"><h5>{{product[0].NAME}}</h5></a>
                    <p>${{getPrice(product[0].price,product[0].discount)}} <span *ngIf="product[0].discount !== 0"><del>${{product[0].price}}</del></span></p>
                  </div>
                  </div>

                  <div class="item">
                  <div class="item-img">
                    <img [src]="this.monsterSvc.getMonsterImgsExp(500, 650, product[1].id, 1)" alt="" />
                    <div class="tr-add-cart">
                      <ul>
                        <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                        <li><a class="tr_text" (click)="AddToCart(product[1].id, product[1].price, product[1].discount)" href="##">ADD TO CART</a></li>
                        <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                        <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[1].id]" routerLinkActive="router-link-active"></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="item-new">
                    <p>New</p>
                    <span *ngIf="product[1].discount !== 0">{{product[1].discount}}%</span>
                  </div>
                  <div class="item-sub">
                    <a [routerLink]="['/product-detail',product[1].id]" routerLinkActive="router-link-active"><h5>{{product[1].NAME}}</h5></a>
                    <p>${{getPrice(product[1].price,product[1].discount)}} <span *ngIf="product[1].discount !== 0"><del>${{product[1].price}}</del></span></p>
                  </div>
                  </div>

                  <div class="item">
                  <div class="item-img">
                    <img [src]="this.monsterSvc.getMonsterImgsExp(500, 650, product[2].id, 1)" alt="" />
                    <div class="tr-add-cart">
                      <ul>
                        <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                        <li><a class="tr_text" (click)="AddToCart(product[2].id, product[2].price, product[2].discount)" href="##">ADD TO CART</a></li>
                        <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                        <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[2].id]" routerLinkActive="router-link-active"></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="item-new">
                    <p>New</p>
                    <span *ngIf="product[2].discount !== 0">{{product[2].discount}}%</span>
                  </div>
                  <div class="item-sub">
                    <a [routerLink]="['/product-detail',product[2].id]" routerLinkActive="router-link-active"><h5>{{product[2].NAME}}</h5></a>
                    <p>${{getPrice(product[2].price,product[2].discount)}} <span *ngIf="product[2].discount !== 0"><del>${{product[2].price}}</del></span></p>
                  </div>
                  </div>

                  <div class="item">
                  <div class="item-img">
                    <img [src]="this.monsterSvc.getMonsterImgsExp(500, 650, product[3].id, 1)" alt="" />
                    <div class="tr-add-cart">
                      <ul>
                        <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                        <li><a class="tr_text" (click)="AddToCart(product[3].id, product[3].price, product[3].discount)" href="##">ADD TO CART</a></li>
                        <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                        <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[3].id]" routerLinkActive="router-link-active"></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="item-new">
                    <p>New</p>
                    <span *ngIf="product[3].discount !== 0">{{product[3].discount}}%</span>
                  </div>
                  <div class="item-sub">
                    <a [routerLink]="['/product-detail',product[3].id]" routerLinkActive="router-link-active"><h5>{{product[3].NAME}}</h5></a>
                    <p>${{getPrice(product[3].price,product[3].discount)}} <span *ngIf="product[3].discount !== 0"><del>${{product[3].price}}</del></span></p>
                  </div>
                  </div>

                  <div class="item">
                  <div class="item-img">
                    <img [src]="this.monsterSvc.getMonsterImgsExp(500, 650, product[4].id, 1)" alt="" />
                    <div class="tr-add-cart">
                      <ul>
                        <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                        <li><a class="tr_text" (click)="AddToCart(product[4].id, product[4].price, product[4].discount)" href="##">ADD TO CART</a></li>
                        <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                        <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[4].id]" routerLinkActive="router-link-active"></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="item-new">
                    <p>New</p>
                    <span *ngIf="product[4].discount !== 0">{{product[4].discount}}%</span>
                  </div>
                  <div class="item-sub">
                    <a [routerLink]="['/product-detail',product[4].id]" routerLinkActive="router-link-active"><h5>{{product[4].NAME}}</h5></a>
                    <p>${{getPrice(product[4].price,product[4].discount)}} <span *ngIf="product[4].discount !== 0"><del>${{product[4].price}}</del></span></p>
                  </div>
                  </div>

                  <div class="item">
                  <div class="item-img">
                    <img [src]="this.monsterSvc.getMonsterImgsExp(500, 650, product[5].id, 1)" alt="" />
                    <div class="tr-add-cart">
                      <ul>
                        <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                        <li><a class="tr_text" (click)="AddToCart(product[5].id, product[5].price, product[5].discount)" href="##">ADD TO CART</a></li>
                        <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                        <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[5].id]" routerLinkActive="router-link-active"></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="item-new">
                    <p>New</p>
                    <span *ngIf="product[5].discount !== 0">{{product[5].discount}}%</span>
                  </div>
                  <div class="item-sub">
                    <a [routerLink]="['/product-detail',product[5].id]" routerLinkActive="router-link-active"><h5>{{product[5].NAME}}</h5></a>
                    <p>${{getPrice(product[5].price,product[5].discount)}}<span *ngIf="product[5].discount !== 0"><del>${{product[5].price}}</del></span></p>
                  </div>
                  </div>

                  <div class="item">
                  <div class="item-img">
                    <img [src]="this.monsterSvc.getMonsterImgsExp(500, 650, product[6].id, 1)" alt="" />
                    <div class="tr-add-cart">
                      <ul>
                        <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                        <li><a class="tr_text" (click)="AddToCart(product[6].id, product[6].price, product[6].discount)" href="##">ADD TO CART</a></li>
                        <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                        <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[6].id]" routerLinkActive="router-link-active"></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="item-new">
                    <p>New</p>
                    <span *ngIf="product[6].discount !== 0">{{product[6].discount}}%</span>
                  </div>
                  <div class="item-sub">
                    <a [routerLink]="['/product-detail',product[6].id]" routerLinkActive="router-link-active"><h5>{{product[6].NAME}}</h5></a>
                    <p>${{getPrice(product[6].price,product[6].discount)}} <span *ngIf="product[6].discount !== 0"><del>${{product[6].price}}</del></span></p>
                  </div>
                  </div>

                  <div class="item">
                  <div class="item-img">
                    <img [src]="this.monsterSvc.getMonsterImgsExp(500, 650, product[7].id, 1)" alt="" />
                    <div class="tr-add-cart">
                      <ul>
                        <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                        <li><a class="tr_text" (click)="AddToCart(product[7].id, product[7].price, product[7].discount)" href="##">ADD TO CART</a></li>
                        <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                        <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[7].id]" routerLinkActive="router-link-active"></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="item-new">
                    <p>New</p>
                    <span *ngIf="product[7].discount !== 0">{{product[7].discount}}%</span>
                  </div>
                  <div class="item-sub">
                    <a [routerLink]="['/product-detail',product[7].id]" routerLinkActive="router-link-active"><h5>{{product[7].NAME}}</h5></a>
                    <p>${{getPrice(product[7].price,product[7].discount)}} <span *ngIf="product[7].discount !== 0"><del>${{product[7].price}}</del></span></p>
                  </div>
                  </div>

                  <div class="item">
                  <div class="item-img">
                    <img [src]="this.monsterSvc.getMonsterImgsExp(500, 650, product[8].id, 1)" alt="" />
                    <div class="tr-add-cart">
                      <ul>
                        <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                        <li><a class="tr_text" (click)="AddToCart(product[8].id, product[8].price, product[8].discount)" href="##">ADD TO CART</a></li>
                        <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                        <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[8].id]" routerLinkActive="router-link-active"></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="item-new">
                    <p>New</p>
                    <span *ngIf="product[8].discount !== 0">{{product[8].discount}}%</span>
                  </div>
                  <div class="item-sub">
                    <a [routerLink]="['/product-detail',product[8].id]" routerLinkActive="router-link-active"><h5>{{product[8].NAME}}</h5></a>
                    <p>${{getPrice(product[8].price,product[8].discount)}} <span *ngIf="product[8].discount !== 0"><del>${{product[8].price}}</del></span></p>
                  </div>
                  </div>
              </div>
            </div>
<!--最夯熱賣-->
            <div role="tabpanel" class="tab-pane" id="messages">
              <div id="owl-example-three" class="owl-carousel">

                      <div class="item">
                          <div class="item-img">
                            <img [src]="this.monsterSvc.getMonsterImgsExp(500, 650, product[0].id, 1)" alt="" />
                            <div class="tr-add-cart">
                              <ul>
                                <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                                <li><a class="tr_text" (click)="AddToCart(product[0].id, product[0].price, product[0].discount)" href="##">ADD TO CART</a></li>
                                <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                                <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[0].id]" routerLinkActive="router-link-active"></a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="item-new">
                            <p>Sold</p>
                            <span>{{product[0].sold}}隻</span>
                          </div>
                          <div class="item-sub">
                            <a [routerLink]="['/product-detail',product[0].id]" routerLinkActive="router-link-active"><h5>{{product[0].NAME}}</h5></a>
                            <p>${{getPrice(product[0].price,product[0].discount)}} <span *ngIf="product[0].discount !== 0"><del>${{product[0].price}}</del></span></p>
                          </div>
                          </div>

                          <div class="item">
                          <div class="item-img">
                            <img [src]="this.monsterSvc.getMonsterImgsExp(500, 650, product[1].id, 1)" alt="" />
                            <div class="tr-add-cart">
                              <ul>
                                <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                                <li><a class="tr_text" (click)="AddToCart(product[1].id, product[1].price, product[1].discount)" href="##">ADD TO CART</a></li>
                                <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                                <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[1].id]" routerLinkActive="router-link-active"></a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="item-new">
                            <p>Sold</p>
                            <span>{{product[1].sold}}隻</span>
                          </div>
                          <div class="item-sub">
                            <a [routerLink]="['/product-detail',product[1].id]" routerLinkActive="router-link-active"><h5>{{product[1].NAME}}</h5></a>
                            <p>${{getPrice(product[1].price,product[1].discount)}} <span *ngIf="product[1].discount !== 0"><del>${{product[1].price}}</del></span></p>
                          </div>
                          </div>

                          <div class="item">
                          <div class="item-img">
                            <img [src]="this.monsterSvc.getMonsterImgsExp(500, 650, product[2].id, 1)" alt="" />
                            <div class="tr-add-cart">
                              <ul>
                                <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                                <li><a class="tr_text" (click)="AddToCart(product[2].id, product[2].price, product[2].discount)" href="##">ADD TO CART</a></li>
                                <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                                <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[2].id]" routerLinkActive="router-link-active"></a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="item-new">
                              <p>Sold</p>
                              <span>{{product[2].sold}}隻</span>
                          </div>
                          <div class="item-sub">
                            <a [routerLink]="['/product-detail',product[2].id]" routerLinkActive="router-link-active"><h5>{{product[2].NAME}}</h5></a>
                            <p>${{getPrice(product[2].price,product[2].discount)}} <span *ngIf="product[2].discount !== 0"><del>${{product[2].price}}</del></span></p>
                          </div>
                          </div>

                          <div class="item">
                          <div class="item-img">
                            <img [src]="this.monsterSvc.getMonsterImgsExp(500, 650, product[3].id, 1)" alt="" />
                            <div class="tr-add-cart">
                              <ul>
                                <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                                <li><a class="tr_text" (click)="AddToCart(product[3].id, product[3].price, product[3].discount)" href="##">ADD TO CART</a></li>
                                <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                                <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[3].id]" routerLinkActive="router-link-active"></a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="item-new">
                              <p>Sold</p>
                              <span>{{product[3].sold}}隻</span>
                          </div>
                          <div class="item-sub">
                            <a [routerLink]="['/product-detail',product[3].id]" routerLinkActive="router-link-active"><h5>{{product[3].NAME}}</h5></a>
                            <p>${{getPrice(product[3].price,product[3].discount)}} <span *ngIf="product[3].discount !== 0"><del>${{product[3].price}}</del></span></p>
                          </div>
                          </div>

                          <div class="item">
                          <div class="item-img">
                            <img [src]="this.monsterSvc.getMonsterImgsExp(500, 650, product[4].id, 1)" alt="" />
                            <div class="tr-add-cart">
                              <ul>
                                <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                                <li><a class="tr_text" (click)="AddToCart(product[4].id, product[4].price, product[4].discount)" href="##">ADD TO CART</a></li>
                                <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                                <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[4].id]" routerLinkActive="router-link-active"></a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="item-new">
                              <p>Sold</p>
                              <span>{{product[4].sold}}隻</span>
                          </div>
                          <div class="item-sub">
                            <a [routerLink]="['/product-detail',product[4].id]" routerLinkActive="router-link-active"><h5>{{product[4].NAME}}</h5></a>
                            <p>${{getPrice(product[4].price,product[4].discount)}} <span *ngIf="product[4].discount !== 0"><del>${{product[4].price}}</del></span></p>
                          </div>
                          </div>

                          <div class="item">
                          <div class="item-img">
                            <img [src]="this.monsterSvc.getMonsterImgsExp(500, 650, product[5].id, 1)" alt="" />
                            <div class="tr-add-cart">
                              <ul>
                                <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                                <li><a class="tr_text" (click)="AddToCart(product[5].id, product[5].price, product[5].discount)" href="##">ADD TO CART</a></li>
                                <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                                <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[5].id]" routerLinkActive="router-link-active"></a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="item-new">
                              <p>Sold</p>
                              <span>{{product[5].sold}}隻</span>
                          </div>
                          <div class="item-sub">
                            <a [routerLink]="['/product-detail',product[5].id]" routerLinkActive="router-link-active"><h5>{{product[5].NAME}}</h5></a>
                            <p>${{getPrice(product[5].price,product[5].discount)}}<span *ngIf="product[5].discount !== 0"><del>${{product[5].price}}</del></span></p>
                          </div>
                          </div>

                          <div class="item">
                          <div class="item-img">
                            <img [src]="this.monsterSvc.getMonsterImgsExp(500, 650, product[6].id, 1)" alt="" />
                            <div class="tr-add-cart">
                              <ul>
                                <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                                <li><a class="tr_text" (click)="AddToCart(product[6].id, product[6].price, product[6].discount)" href="##">ADD TO CART</a></li>
                                <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                                <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[6].id]" routerLinkActive="router-link-active"></a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="item-new">
                              <p>Sold</p>
                              <span>{{product[6].sold}}隻</span>
                          </div>
                          <div class="item-sub">
                            <a [routerLink]="['/product-detail',product[6].id]" routerLinkActive="router-link-active"><h5>{{product[6].NAME}}</h5></a>
                            <p>${{getPrice(product[6].price,product[6].discount)}} <span *ngIf="product[6].discount !== 0"><del>${{product[6].price}}</del></span></p>
                          </div>
                          </div>

                          <div class="item">
                          <div class="item-img">
                            <img [src]="this.monsterSvc.getMonsterImgsExp(500, 650, product[7].id, 1)" alt="" />
                            <div class="tr-add-cart">
                              <ul>
                                <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                                <li><a class="tr_text" (click)="AddToCart(product[7].id, product[7].price, product[7].discount)" href="##">ADD TO CART</a></li>
                                <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                                <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[7].id]" routerLinkActive="router-link-active"></a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="item-new">
                              <p>Sold</p>
                              <span>{{product[7].sold}}隻</span>
                          </div>
                          <div class="item-sub">
                            <a [routerLink]="['/product-detail',product[7].id]" routerLinkActive="router-link-active"><h5>{{product[7].NAME}}</h5></a>
                            <p>${{getPrice(product[7].price,product[7].discount)}} <span *ngIf="product[7].discount !== 0"><del>${{product[7].price}}</del></span></p>
                          </div>
                          </div>

                          <div class="item">
                          <div class="item-img">
                            <img [src]="this.monsterSvc.getMonsterImgsExp(500, 650, product[8].id, 1)" alt="" />
                            <div class="tr-add-cart">
                              <ul>
                                <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                                <li><a class="tr_text" (click)="AddToCart(product[8].id, product[8].price, product[8].discount)" href="##">ADD TO CART</a></li>
                                <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                                <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[8].id]" routerLinkActive="router-link-active"></a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="item-new">
                              <p>Sold</p>
                              <span>{{product[8].sold}}隻</span>
                          </div>
                          <div class="item-sub">
                            <a [routerLink]="['/product-detail',product[8].id]" routerLinkActive="router-link-active"><h5>{{product[8].NAME}}</h5></a>
                            <p>${{getPrice(product[8].price,product[8].discount)}} <span *ngIf="product[8].discount !== 0"><del>${{product[8].price}}</del></span></p>
                          </div>
                          </div>
              </div>
            </div>
<!--訓練師評價-->
          <!--  <div role="tabpanel" class="tab-pane" id="settings">
              <div id="owl-example-four" class="owl-carousel">

              </div>
            </div>-->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
