<section class="trending_area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="trending_box">
          <h2>Trending clothing</h2>
          <div class="multi_line"></div>

          <div role="tabpanel">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">new <span>x</span></a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">top rated <span>x</span></a></li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">trending <span>x</span></a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"> best offer</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
              <div id="owl-example" class="owl-carousel">
                <div class="item">
                <div class="item-img">
                  <img src="images/t_item1.jpg" alt="" />
                  <div class="tr-add-cart">
                    <ul>
                      <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                      <li><a class="tr_text" href="#">ADD TO CART</a></li>
                      <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                      <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="item-new">
                  <p>New</p>
                </div>
                <div class="item-sub">
                  <a href="product-detail.html"><h5>casual fashion wool coat</h5></a>
                  <p>$190.00</p>
                </div>
                </div>
                <div class="item">
                <div class="item-img">
                  <img src="images/t_item2.jpg" alt="" />
                  <div class="tr-add-cart">
                    <ul>
                      <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                      <li><a class="tr_text" href="#">ADD TO CART</a></li>
                      <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                      <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="item-new">
                  <p>New</p>
                  <span>-10%</span>
                </div>
                <div class="item-sub">
                  <a href="product-detail.html"><h5>casual fashion wool coat</h5></a>
                  <p>$90.00 <span><del>$100</del></span></p>
                </div>
                </div>
                <div class="item">
                <div class="item-img">
                  <img src="images/t_item3.jpg" alt="" />
                  <div class="tr-add-cart">
                    <ul>
                      <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                      <li><a class="tr_text" href="#">ADD TO CART</a></li>
                      <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                      <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="item-new">
                  <p>New</p>
                </div>
                <div class="item-sub">
                <a href="product-detail.html"><h5>super Clover Robe Jacket</h5></a>
                  <p>$120.00</p>
                </div>
                </div>
                <div class="item">
                <div class="item-img">
                  <img src="images/t_item4.jpg" alt="" />
                  <div class="tr-add-cart">
                    <ul>
                      <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                      <li><a class="tr_text" href="#">ADD TO CART</a></li>
                      <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                      <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="item-new">
                  <p>New</p>
                </div>
                <div class="item-sub">
                  <a href="product-detail.html"><h5>structured collarless coat</h5></a>
                  <p>$90.00</p>
                </div>
                </div>
                <div class="item">
                <div class="item-img">
                  <img src="images/t_item1.jpg" alt="" />
                  <div class="tr-add-cart">
                    <ul>
                      <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                      <li><a class="tr_text" href="#">ADD TO CART</a></li>
                      <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                      <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="item-new">
                  <p>New</p>
                  <span>-10%</span>
                </div>
                <div class="item-sub">
                  <a href="product-detail.html"><h5>casual fashion wool coat</h5></a>
                  <p>$80.00 <span><del>$90</del></span></p>
                </div>
                </div>
                <div class="item">
                <div class="item-img">
                  <img src="images/t_item2.jpg" alt="" />
                  <div class="tr-add-cart">
                    <ul>
                      <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                      <li><a class="tr_text" href="#">ADD TO CART</a></li>
                      <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                      <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="item-new">
                  <p>New</p>
                  <span>-10%</span>
                </div>
                <div class="item-sub">
                  <a href="product-detail.html"><h5>super Clover Robe Jacket</h5></a>
                  <p>$90.00 <span><del>$100</del></span></p>
                </div>
                </div>
                <div class="item">
                <div class="item-img">
                  <img src="images/t_item3.jpg" alt="" />
                  <div class="tr-add-cart">
                    <ul>
                      <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                      <li><a class="tr_text" href="#">ADD TO CART</a></li>
                      <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                      <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="item-new">
                  <p>New</p>
                </div>
                <div class="item-sub">
                  <a href="product-detail.html"><h5>casual fashion wool coat</h5></a>
                  <p>$95.00</p>
                </div>
                </div>
                <div class="item">
                <div class="item-img">
                  <img src="images/t_item12.jpg" alt="" />
                  <div class="tr-add-cart">
                    <ul>
                      <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                      <li><a class="tr_text" href="#">ADD TO CART</a></li>
                      <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                      <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="item-new">
                  <p>New</p>
                </div>
                <div class="item-sub">
                  <a href="product-detail.html"><h5>v-neck men blue t-shirt </h5></a>
                  <p>$170.00</p>
                </div>
                </div>
                <div class="item">
                <div class="item-img">
                  <img src="images/t_item13.jpg" alt="" />
                  <div class="tr-add-cart">
                    <ul>
                      <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                      <li><a class="tr_text" href="#">ADD TO CART</a></li>
                      <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                      <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="item-new">
                  <p>New</p>
                  <span>-10%</span>
                </div>
                <div class="item-sub">
                  <a href="product-detail.html"><h5>gray shadow jean shirt</h5></a>
                  <p>$100.00 <span><del>$110</del></span></p>
                </div>
                </div>
              </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="profile">
              <div id="owl-example-two" class="owl-carousel">
                <div class="item">
                <div class="item-img">
                  <img src="images/t_item1.jpg" alt="" />
                  <div class="tr-add-cart">
                    <ul>
                      <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                      <li><a class="tr_text" href="#">ADD TO CART</a></li>
                      <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                      <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="item-new">
                  <p>New</p>
                </div>
                <div class="item-sub">
                  <a href="product-detail.html"><h5>super Clover Robe Jacket</h5></a>
                  <p>$80.00</p>
                </div>
                </div>
                <div class="item">
                <div class="item-img">
                  <img src="images/t_item7.jpg" alt="" />
                  <div class="tr-add-cart">
                    <ul>
                      <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                      <li><a class="tr_text" href="#">ADD TO CART</a></li>
                      <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                      <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="item-new">
                  <p>New</p>
                  <span>-10%</span>
                </div>
                <div class="item-sub">
                  <a href="product-detail.html"><h5>v-neck men blue t-shirt </h5></a>
                  <p>$130.00 <span><del>$140</del></span></p>
                </div>
                </div>
                <div class="item">
                <div class="item-img">
                  <img src="images/t_item14.jpg" alt="" />
                  <div class="tr-add-cart">
                    <ul>
                      <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                      <li><a class="tr_text" href="#">ADD TO CART</a></li>
                      <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                      <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="item-new">
                  <p>New</p>
                  <span>-10%</span>
                </div>
                <div class="item-sub">
                  <a href="product-detail.html"><h5>houndsmooth wool t-shirt</h5></a>
                  <p>$110.00 <span><del>$120</del></span></p>
                </div>
                </div>
                <div class="item">
                <div class="item-img">
                  <img src="images/t_item5.jpg" alt="" />
                  <div class="tr-add-cart">
                    <ul>
                      <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                      <li><a class="tr_text" href="#">ADD TO CART</a></li>
                      <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                      <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="item-new">
                  <p>New</p>
                </div>
                <div class="item-sub">
                  <a href="product-detail.html"><h5>AROS SLIM HEAVY CHINO</h5></a>
                  <p>$70.00</p>
                </div>
                </div>
                <div class="item">
                <div class="item-img">
                  <img src="images/t_item6.jpg" alt="" />
                  <div class="tr-add-cart">
                    <ul>
                      <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                      <li><a class="tr_text" href="#">ADD TO CART</a></li>
                      <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                      <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="item-new">
                  <p>New</p>
                </div>
                <div class="item-sub">
                  <a href="product-detail.html"><h5>volv checked casual shirt</h5></a>
                  <p>$90.00</p>
                </div>
                </div>
                <div class="item">
                <div class="item-img">
                  <img src="images/t_item7.jpg" alt="" />
                  <div class="tr-add-cart">
                    <ul>
                      <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                      <li><a class="tr_text" href="#">ADD TO CART</a></li>
                      <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                      <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="item-new">
                  <p>New</p>
                  <span>-10%</span>
                </div>
                <div class="item-sub">
                  <a href="product-detail.html"><h5>yellow Clover Robe Jacket</h5></a>
                  <p>$90.00 <span><del>$100</del></span></p>
                </div>
                </div>
                <div class="item">
                <div class="item-img">
                  <img src="images/t_item15.jpg" alt="" />
                  <div class="tr-add-cart">
                    <ul>
                      <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                      <li><a class="tr_text" href="#">ADD TO CART</a></li>
                      <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                      <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="item-new">
                  <p>New</p>
                </div>
                <div class="item-sub">
                  <a href="product-detail.html"><h5>structured collarless coat</h5></a>
                  <p>$90.00</p>
                </div>
                </div>
                <div class="item">
                <div class="item-img">
                  <img src="images/t_item8.jpg" alt="" />
                  <div class="tr-add-cart">
                    <ul>
                      <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                      <li><a class="tr_text" href="#">ADD TO CART</a></li>
                      <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                      <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="item-new">
                  <p>New</p>
                  <span>-10%</span>
                </div>
                <div class="item-sub">
                  <a href="product-detail.html"><h5>super Clover Robe Jacket</h5></a>
                  <p>$90.00 <span><del>$100</del></span></p>
                </div>
                </div>
                <div class="item">
                <div class="item-img">
                  <img src="images/t_item9.jpg" alt="" />
                  <div class="tr-add-cart">
                    <ul>
                      <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                      <li><a class="tr_text" href="#">ADD TO CART</a></li>
                      <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                      <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="item-new">
                  <p>New</p>
                </div>
                <div class="item-sub">
                  <a href="product-detail.html"><h5>full hand animal jacket</h5></a>
                  <p>$90.00</p>
                </div>
                </div>
              </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="messages">
              <div id="owl-example-three" class="owl-carousel">
                <div class="item">
                <div class="item-img">
                  <img src="images/t_item10.jpg" alt="" />
                  <div class="tr-add-cart">
                    <ul>
                      <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                      <li><a class="tr_text" href="#">ADD TO CART</a></li>
                      <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                      <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="item-new">
                  <p>New</p>
                  <span>-10%</span>
                </div>
                <div class="item-sub">
                  <a href="product-detail.html"><h5>men’s fashion blue jean coat</h5></a>
                  <p>$90.00 <span><del>$100</del></span></p>
                </div>
                </div>
                <div class="item">
                <div class="item-img">
                  <img src="images/t_item16.jpg" alt="" />
                  <div class="tr-add-cart">
                    <ul>
                      <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                      <li><a class="tr_text" href="#">ADD TO CART</a></li>
                      <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                      <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="item-new">
                  <p>New</p>
                </div>
                <div class="item-sub">
                  <a href="product-detail.html"><h5>AROS SLIM HEAVY CHINO</h5></a>
                  <p>$90.00</p>
                </div>
                </div>
                <div class="item">
                <div class="item-img">
                  <img src="images/t_item4.jpg" alt="" />
                  <div class="tr-add-cart">
                    <ul>
                      <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                      <li><a class="tr_text" href="#">ADD TO CART</a></li>
                      <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                      <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="item-new">
                  <p>New</p>
                </div>
                <div class="item-sub">
                  <a href="product-detail.html"><h5>black men leather coat</h5></a>
                  <p>$90.00</p>
                </div>
                </div>
                <div class="item">
                <div class="item-img">
                  <img src="images/t_item11.jpg" alt="" />
                  <div class="tr-add-cart">
                    <ul>
                      <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                      <li><a class="tr_text" href="#">ADD TO CART</a></li>
                      <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                      <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="item-new">
                  <p>New</p>
                  <span>-10%</span>
                </div>
                <div class="item-sub">
                  <a href="product-detail.html"><h5>houndsmooth wool t-shirt</h5></a>
                  <p>$90.00 <span><del>$100</del></span></p>
                </div>
                </div>
                <div class="item">
                <div class="item-img">
                  <img src="images/t_item1.jpg" alt="" />
                  <div class="tr-add-cart">
                    <ul>
                      <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                      <li><a class="tr_text" href="#">ADD TO CART</a></li>
                      <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                      <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="item-new">
                  <p>New</p>
                </div>
                <div class="item-sub">
                  <a href="product-detail.html"><h5>casual fashion wool coat</h5></a>
                  <p>$90.00</p>
                </div>
                </div>
                <div class="item">
                <div class="item-img">
                  <img src="images/t_item12.jpg" alt="" />
                  <div class="tr-add-cart">
                    <ul>
                      <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                      <li><a class="tr_text" href="#">ADD TO CART</a></li>
                      <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                      <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="item-new">
                  <p>New</p>
                  <span>-10%</span>
                </div>
                <div class="item-sub">
                  <a href="product-detail.html"><h5>structured collarless coat</h5></a>
                  <p>$90.00 <span><del>$100</del></span></p>
                </div>
                </div>
                <div class="item">
                <div class="item-img">
                  <img src="images/t_item3.jpg" alt="" />
                  <div class="tr-add-cart">
                    <ul>
                      <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                      <li><a class="tr_text" href="#">ADD TO CART</a></li>
                      <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                      <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="item-new">
                  <p>New</p>
                </div>
                <div class="item-sub">
                  <a href="product-detail.html"><h5>casual fashion wool coat</h5></a>
                  <p>$90.00</p>
                </div>
                </div>
                <div class="item">
                <div class="item-img">
                  <img src="images/t_item2.jpg" alt="" />
                  <div class="tr-add-cart">
                    <ul>
                      <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                      <li><a class="tr_text" href="#">ADD TO CART</a></li>
                      <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                      <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="item-new">
                  <p>New</p>
                </div>
                <div class="item-sub">
                  <a href="product-detail.html"><h5>structured collarless coat</h5></a>
                  <p>$90.00</p>
                </div>
                </div>
                <div class="item">
                <div class="item-img">
                  <img src="images/t_item3.jpg" alt="" />
                  <div class="tr-add-cart">
                    <ul>
                      <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                      <li><a class="tr_text" href="#">ADD TO CART</a></li>
                      <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                      <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="item-new">
                  <p>New</p>
                  <span>-10%</span>
                </div>
                <div class="item-sub">
                  <a href="product-detail.html"><h5>men’s fashion blue jean coat</h5></a>
                  <p>$90.00 <span><del>$100</del></span></p>
                </div>
                </div>
              </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="settings">
              <div id="owl-example-four" class="owl-carousel">
                <div class="item">
                <div class="item-img">
                  <img src="images/t_item1.jpg" alt="" />
                  <div class="tr-add-cart">
                    <ul>
                      <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                      <li><a class="tr_text" href="#">ADD TO CART</a></li>
                      <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                      <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="item-new">
                  <p>New</p>
                </div>
                <div class="item-sub">
                  <a href="product-detail.html"><h5>casual fashion wool coat</h5></a>
                  <p>$90.00</p>
                </div>
                </div>
                <div class="item">
                <div class="item-img">
                  <img src="images/t_item2.jpg" alt="" />
                  <div class="tr-add-cart">
                    <ul>
                      <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                      <li><a class="tr_text" href="#">ADD TO CART</a></li>
                      <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                      <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="item-new">
                  <p>New</p>
                  <span>-10%</span>
                </div>
                <div class="item-sub">
                  <a href="product-detail.html"><h5>casual fashion wool coat</h5></a>
                  <p>$90.00 <span><del>$100</del></span></p>
                </div>
                </div>
                <div class="item">
                <div class="item-img">
                  <img src="images/t_item7.jpg" alt="" />
                  <div class="tr-add-cart">
                    <ul>
                      <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                      <li><a class="tr_text" href="#">ADD TO CART</a></li>
                      <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                      <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="item-new">
                  <p>New</p>
                  <span>-10%</span>
                </div>
                <div class="item-sub">
                  <a href="product-detail.html"><h5>casual fashion wool coat</h5></a>
                  <p>$90.00 <span><del>$100</del></span></p>
                </div>
                </div>
                <div class="item">
                <div class="item-img">
                  <img src="images/t_item4.jpg" alt="" />
                  <div class="tr-add-cart">
                    <ul>
                      <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                      <li><a class="tr_text" href="#">ADD TO CART</a></li>
                      <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                      <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="item-new">
                  <p>New</p>
                </div>
                <div class="item-sub">
                  <a href="product-detail.html"><h5>v-neck men blue t-shirt </h5></a>
                  <p>$90.00</p>
                </div>
                </div>
                <div class="item">
                <div class="item-img">
                  <img src="images/t_item1.jpg" alt="" />
                  <div class="tr-add-cart">
                    <ul>
                      <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                      <li><a class="tr_text" href="#">ADD TO CART</a></li>
                      <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                      <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="item-new">
                  <p>New</p>
                </div>
                <div class="item-sub">
                  <a href="product-detail.html"><h5>v-neck men blue t-shirt </h5></a>
                  <p>$90.00</p>
                </div>
                </div>
                <div class="item">
                <div class="item-img">
                  <img src="images/t_item2.jpg" alt="" />
                  <div class="tr-add-cart">
                    <ul>
                      <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                      <li><a class="tr_text" href="#">ADD TO CART</a></li>
                      <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                      <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="item-new">
                  <p>New</p>
                </div>
                <div class="item-sub">
                  <a href="product-detail.html"><h5>casual fashion wool coat</h5></a>
                  <p>$90.00</p>
                </div>
                </div>
                <div class="item">
                <div class="item-img">
                  <img src="images/t_item3.jpg" alt="" />
                  <div class="tr-add-cart">
                    <ul>
                      <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                      <li><a class="tr_text" href="#">ADD TO CART</a></li>
                      <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                      <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="item-new">
                  <p>New</p>
                  <span>-10%</span>
                </div>
                <div class="item-sub">
                  <a href="product-detail.html"><h5>gray shadow jean shirt</h5></a>
                  <p>$90.00 <span><del>$100</del></span></p>
                </div>
                </div>
                <div class="item">
                <div class="item-img">
                  <img src="images/t_item12.jpg" alt="" />
                  <div class="tr-add-cart">
                    <ul>
                      <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                      <li><a class="tr_text" href="#">ADD TO CART</a></li>
                      <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                      <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="item-new">
                  <p>New</p>
                </div>
                <div class="item-sub">
                  <a href="product-detail.html"><h5>casual fashion wool coat</h5></a>
                  <p>$90.00</p>
                </div>
                </div>
                <div class="item">
                <div class="item-img">
                  <img src="images/t_item14.jpg" alt="" />
                  <div class="tr-add-cart">
                    <ul>
                      <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                      <li><a class="tr_text" href="#">ADD TO CART</a></li>
                      <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                      <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="item-new">
                  <p>New</p>
                </div>
                <div class="item-sub">
                  <a href="product-detail.html"><h5>houndsmooth wool t-shirt</h5></a>
                  <p>$90.00 </p>
                </div>
                </div>
              </div>
            </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
