<!-- Todo: 排序商品 -->
<section class="trending_area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="trending_box">
          <h2>排行榜</h2>
          <div class="multi_line"></div>

          <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" style="left: 60px;" class="active" (click)="sortByDate()"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">新寵上市<span> x </span></a></li>
              <li role="presentation" style="left: 60px;" (click)="sortByPrice()"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">低價銷售<span> x </span></a></li>
              <li role="presentation" style="left: 60px;" (click)="sortBySold()"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">最夯熱賣</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
<!--新寵上市-->
              <div role="tabpanel" class="tab-pane active" id="home">
               <div id="owl-example" class="owl-carousel">

                <div class="item">
                  <div class="item-sub">
                    <a [routerLink]="['/product-detail']" routerLinkActive="router-link-active"><h5>.</h5></a>
                  </div>
                </div>

                  <div class="item">
                      <div class="item-img">
                        <img [src]="product[0].Icon.src" alt="" />
                        <div class="tr-add-cart">
                          <ul>
                            <li><a class="fa fa-shopping-cart tr_cart tr_text" (click)="AddToCart(product[0].id)" href="##"> 加進購物車</a></li>
                            <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail', product[0].id]" routerLinkActive="router-link-active"></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="item-new">
                        <p>New</p>
                        <span *ngIf="product[0].discount !== 0">{{product[0].discount}}%</span>
                      </div>
                      <div class="item-sub">
                        <a [routerLink]="['/product-detail',product[0].id]" routerLinkActive="router-link-active"><h5>{{product[0].NAME}}</h5></a>
                        <p>${{product[0].finalPrice}} <span *ngIf="product[0].discount !== 0"><del>${{product[0].price}}</del></span></p>
                      </div>
                      </div>

                      <div class="item">
                      <div class="item-img">
                        <img [src]="product[1].Icon.src" alt="" />
                        <div class="tr-add-cart">
                          <ul>
                            <li><a class="fa fa-shopping-cart tr_cart tr_text" (click)="AddToCart(product[1].id)" href="##"> 加進購物車</a></li>
                            <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[1].id]" routerLinkActive="router-link-active"></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="item-new">
                        <p>New</p>
                        <span *ngIf="product[1].discount !== 0">{{product[1].discount}}%</span>
                      </div>
                      <div class="item-sub">
                        <a [routerLink]="['/product-detail',product[1].id]" routerLinkActive="router-link-active"><h5>{{product[1].NAME}}</h5></a>
                        <p>${{product[1].finalPrice}} <span *ngIf="product[1].discount !== 0"><del>${{product[1].price}}</del></span></p>
                      </div>
                      </div>

                      <div class="item">
                      <div class="item-img">
                        <img [src]="product[2].Icon.src" alt="" />
                        <div class="tr-add-cart">
                          <ul>
                            <li><a class="fa fa-shopping-cart tr_cart tr_text" (click)="AddToCart(product[2].id)" href="##"> 加進購物車</a></li>
                            <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[2].id]" routerLinkActive="router-link-active"></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="item-new">
                        <p>New</p>
                        <span *ngIf="product[2].discount !== 0">{{product[2].discount}}%</span>
                      </div>
                      <div class="item-sub">
                        <a [routerLink]="['/product-detail',product[2].id]" routerLinkActive="router-link-active"><h5>{{product[2].NAME}}</h5></a>
                        <p>${{product[2].finalPrice}} <span *ngIf="product[2].discount !== 0"><del>${{product[2].price}}</del></span></p>
                      </div>
                      </div>

                      <div class="item">
                      <div class="item-img">
                        <img [src]="product[3].Icon.src" alt="" />
                        <div class="tr-add-cart">
                          <ul>
                            <li><a class="fa fa-shopping-cart tr_cart tr_text" (click)="AddToCart(product[3].id)" href="##"> 加進購物車</a></li>
                            <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[3].id]" routerLinkActive="router-link-active"></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="item-new">
                        <p>New</p>
                        <span *ngIf="product[3].discount !== 0">{{product[3].discount}}%</span>
                      </div>
                      <div class="item-sub">
                        <a [routerLink]="['/product-detail',product[3].id]" routerLinkActive="router-link-active"><h5>{{product[3].NAME}}</h5></a>
                        <p>${{product[3].finalPrice}} <span *ngIf="product[3].discount !== 0"><del>${{product[3].price}}</del></span></p>
                      </div>
                      </div>

                      <div class="item">
                      <div class="item-img">
                        <img [src]="product[4].Icon.src" alt="" />
                        <div class="tr-add-cart">
                          <ul>
                            <li><a class="fa fa-shopping-cart tr_cart tr_text" (click)="AddToCart(product[4].id)" href="##"> 加進購物車</a></li>
                            <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[4].id]" routerLinkActive="router-link-active"></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="item-new">
                        <p>New</p>
                        <span *ngIf="product[4].discount !== 0">{{product[4].discount}}%</span>
                      </div>
                      <div class="item-sub">
                        <a [routerLink]="['/product-detail',product[4].id]" routerLinkActive="router-link-active"><h5>{{product[4].NAME}}</h5></a>
                        <p>${{product[4].finalPrice}} <span *ngIf="product[4].discount !== 0"><del>${{product[4].price}}</del></span></p>
                      </div>
                      </div>

                      <div class="item">
                      <div class="item-img">
                        <img [src]="product[5].Icon.src" alt="" />
                        <div class="tr-add-cart">
                          <ul>
                            <li><a class="fa fa-shopping-cart tr_cart tr_text" (click)="AddToCart(product[5].id)" href="##"> 加進購物車</a></li>
                            <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[5].id]" routerLinkActive="router-link-active"></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="item-new">
                        <p>New</p>
                        <span *ngIf="product[5].discount !== 0">{{product[5].discount}}%</span>
                      </div>
                      <div class="item-sub">
                        <a [routerLink]="['/product-detail',product[5].id]" routerLinkActive="router-link-active"><h5>{{product[5].NAME}}</h5></a>
                        <p>${{product[5].finalPrice}}<span *ngIf="product[5].discount !== 0"><del>${{product[5].price}}</del></span></p>
                      </div>
                      </div>

                      <div class="item">
                      <div class="item-img">
                        <img [src]="product[6].Icon.src" alt="" />
                        <div class="tr-add-cart">
                          <ul>
                            <li><a class="fa fa-shopping-cart tr_cart tr_text" (click)="AddToCart(product[6].id)" href="##"> 加進購物車</a></li>
                            <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[6].id]" routerLinkActive="router-link-active"></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="item-new">
                        <p>New</p>
                        <span *ngIf="product[6].discount !== 0">{{product[6].discount}}%</span>
                      </div>
                      <div class="item-sub">
                        <a [routerLink]="['/product-detail',product[6].id]" routerLinkActive="router-link-active"><h5>{{product[6].NAME}}</h5></a>
                        <p>${{product[6].finalPrice}} <span *ngIf="product[6].discount !== 0"><del>${{product[6].price}}</del></span></p>
                      </div>
                      </div>

                      <div class="item">
                      <div class="item-img">
                        <img [src]="product[7].Icon.src" alt="" />
                        <div class="tr-add-cart">
                          <ul>
                            <li><a class="fa fa-shopping-cart tr_cart tr_text" (click)="AddToCart(product[7].id)" href="##"> 加進購物車</a></li>
                            <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[7].id]" routerLinkActive="router-link-active"></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="item-new">
                        <p>New</p>
                        <span *ngIf="product[7].discount !== 0">{{product[7].discount}}%</span>
                      </div>
                      <div class="item-sub">
                        <a [routerLink]="['/product-detail',product[7].id]" routerLinkActive="router-link-active"><h5>{{product[7].NAME}}</h5></a>
                        <p>${{product[7].finalPrice}} <span *ngIf="product[7].discount !== 0"><del>${{product[7].price}}</del></span></p>
                      </div>
                      </div>

                      <div class="item">
                      <div class="item-img">
                        <img [src]="product[8].Icon.src" alt="" />
                        <div class="tr-add-cart">
                          <ul>
                            <li><a class="fa fa-shopping-cart tr_cart tr_text" (click)="AddToCart(product[8].id)" href="##"> 加進購物車</a></li>
                            <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[8].id]" routerLinkActive="router-link-active"></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="item-new">
                        <p>New</p>
                        <span *ngIf="product[8].discount !== 0">{{product[8].discount}}%</span>
                      </div>
                      <div class="item-sub">
                        <a [routerLink]="['/product-detail',product[8].id]" routerLinkActive="router-link-active"><h5>{{product[8].NAME}}</h5></a>
                        <p>${{product[8].finalPrice}} <span *ngIf="product[8].discount !== 0"><del>${{product[8].price}}</del></span></p>
                      </div>
                      </div>

              </div>
            </div>
<!--低價銷售-->
            <div role="tabpanel" class="tab-pane" id="profile">
              <div id="owl-example-two" class="owl-carousel">

                <div class="item">
                  <div class="item-img">
                    <img [src]="product[0].Icon.src" alt="" />
                    <div class="tr-add-cart">
                      <ul>
                        <li><a class="fa fa-shopping-cart tr_cart tr_text" (click)="AddToCart(product[0].id)" href="##"> 加進購物車</a></li>
                        <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[0].id]" routerLinkActive="router-link-active"></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="item-new">
                    <p>New</p>
                    <span *ngIf="product[0].discount !== 0">{{product[0].discount}}%</span>
                  </div>
                  <div class="item-sub">
                    <a [routerLink]="['/product-detail',product[0].id]" routerLinkActive="router-link-active"><h5>{{product[0].NAME}}</h5></a>
                    <p>${{product[0].finalPrice}} <span *ngIf="product[0].discount !== 0"><del>${{product[0].price}}</del></span></p>
                  </div>
                  </div>

                  <div class="item">
                  <div class="item-img">
                    <img [src]="product[1].Icon.src" alt="" />
                    <div class="tr-add-cart">
                      <ul>
                        <li><a class="fa fa-shopping-cart tr_cart tr_text" (click)="AddToCart(product[1].id)" href="##"> 加進購物車</a></li>
                        <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[1].id]" routerLinkActive="router-link-active"></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="item-new">
                    <p>New</p>
                    <span *ngIf="product[1].discount !== 0">{{product[1].discount}}%</span>
                  </div>
                  <div class="item-sub">
                    <a [routerLink]="['/product-detail',product[1].id]" routerLinkActive="router-link-active"><h5>{{product[1].NAME}}</h5></a>
                    <p>${{product[1].finalPrice}} <span *ngIf="product[1].discount !== 0"><del>${{product[1].price}}</del></span></p>
                  </div>
                  </div>

                  <div class="item">
                  <div class="item-img">
                    <img [src]="product[2].Icon.src" alt="" />
                    <div class="tr-add-cart">
                      <ul>
                        <li><a class="fa fa-shopping-cart tr_cart tr_text" (click)="AddToCart(product[2].id)" href="##"> 加進購物車</a></li>
                        <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[2].id]" routerLinkActive="router-link-active"></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="item-new">
                    <p>New</p>
                    <span *ngIf="product[2].discount !== 0">{{product[2].discount}}%</span>
                  </div>
                  <div class="item-sub">
                    <a [routerLink]="['/product-detail',product[2].id]" routerLinkActive="router-link-active"><h5>{{product[2].NAME}}</h5></a>
                    <p>${{product[2].finalPrice}} <span *ngIf="product[2].discount !== 0"><del>${{product[2].price}}</del></span></p>
                  </div>
                  </div>

                  <div class="item">
                  <div class="item-img">
                    <img [src]="product[3].Icon.src" alt="" />
                    <div class="tr-add-cart">
                      <ul>
                        <li><a class="fa fa-shopping-cart tr_cart tr_text" (click)="AddToCart(product[3].id)" href="##"> 加進購物車</a></li>
                        <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[3].id]" routerLinkActive="router-link-active"></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="item-new">
                    <p>New</p>
                    <span *ngIf="product[3].discount !== 0">{{product[3].discount}}%</span>
                  </div>
                  <div class="item-sub">
                    <a [routerLink]="['/product-detail',product[3].id]" routerLinkActive="router-link-active"><h5>{{product[3].NAME}}</h5></a>
                    <p>${{product[3].finalPrice}} <span *ngIf="product[3].discount !== 0"><del>${{product[3].price}}</del></span></p>
                  </div>
                  </div>

                  <div class="item">
                  <div class="item-img">
                    <img [src]="product[4].Icon.src" alt="" />
                    <div class="tr-add-cart">
                      <ul>
                        <li><a class="fa fa-shopping-cart tr_cart tr_text" (click)="AddToCart(product[4].id)" href="##"> 加進購物車</a></li>
                        <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[4].id]" routerLinkActive="router-link-active"></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="item-new">
                    <p>New</p>
                    <span *ngIf="product[4].discount !== 0">{{product[4].discount}}%</span>
                  </div>
                  <div class="item-sub">
                    <a [routerLink]="['/product-detail',product[4].id]" routerLinkActive="router-link-active"><h5>{{product[4].NAME}}</h5></a>
                    <p>${{product[4].finalPrice}} <span *ngIf="product[4].discount !== 0"><del>${{product[4].price}}</del></span></p>
                  </div>
                  </div>

                  <div class="item">
                  <div class="item-img">
                    <img [src]="product[5].Icon.src" alt="" />
                    <div class="tr-add-cart">
                      <ul>
                        <li><a class="fa fa-shopping-cart tr_cart tr_text" (click)="AddToCart(product[5].id)" href="##"> 加進購物車</a></li>
                        <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[5].id]" routerLinkActive="router-link-active"></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="item-new">
                    <p>New</p>
                    <span *ngIf="product[5].discount !== 0">{{product[5].discount}}%</span>
                  </div>
                  <div class="item-sub">
                    <a [routerLink]="['/product-detail',product[5].id]" routerLinkActive="router-link-active"><h5>{{product[5].NAME}}</h5></a>
                    <p>${{product[5].finalPrice}}<span *ngIf="product[5].discount !== 0"><del>${{product[5].price}}</del></span></p>
                  </div>
                  </div>

                  <div class="item">
                  <div class="item-img">
                    <img [src]="product[6].Icon.src" alt="" />
                    <div class="tr-add-cart">
                      <ul>
                        <li><a class="fa fa-shopping-cart tr_cart tr_text" (click)="AddToCart(product[6].id)" href="##"> 加進購物車</a></li>
                        <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[6].id]" routerLinkActive="router-link-active"></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="item-new">
                    <p>New</p>
                    <span *ngIf="product[6].discount !== 0">{{product[6].discount}}%</span>
                  </div>
                  <div class="item-sub">
                    <a [routerLink]="['/product-detail',product[6].id]" routerLinkActive="router-link-active"><h5>{{product[6].NAME}}</h5></a>
                    <p>${{product[6].finalPrice}} <span *ngIf="product[6].discount !== 0"><del>${{product[6].price}}</del></span></p>
                  </div>
                  </div>

                  <div class="item">
                  <div class="item-img">
                    <img [src]="product[7].Icon.src" alt="" />
                    <div class="tr-add-cart">
                      <ul>
                        <li><a class="fa fa-shopping-cart tr_cart tr_text" (click)="AddToCart(product[7].id)" href="##"> 加進購物車</a></li>
                        <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[7].id]" routerLinkActive="router-link-active"></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="item-new">
                    <p>New</p>
                    <span *ngIf="product[7].discount !== 0">{{product[7].discount}}%</span>
                  </div>
                  <div class="item-sub">
                    <a [routerLink]="['/product-detail',product[7].id]" routerLinkActive="router-link-active"><h5>{{product[7].NAME}}</h5></a>
                    <p>${{product[7].finalPrice}} <span *ngIf="product[7].discount !== 0"><del>${{product[7].price}}</del></span></p>
                  </div>
                  </div>

                  <div class="item">
                  <div class="item-img">
                    <img [src]="product[8].Icon.src" alt="" />
                    <div class="tr-add-cart">
                      <ul>
                        <li><a class="fa fa-shopping-cart tr_cart tr_text" (click)="AddToCart(product[8].id)" href="##"> 加進購物車</a></li>
                        <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[8].id]" routerLinkActive="router-link-active"></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="item-new">
                    <p>New</p>
                    <span *ngIf="product[8].discount !== 0">{{product[8].discount}}%</span>
                  </div>
                  <div class="item-sub">
                    <a [routerLink]="['/product-detail',product[8].id]" routerLinkActive="router-link-active"><h5>{{product[8].NAME}}</h5></a>
                    <p>${{product[8].finalPrice}} <span *ngIf="product[8].discount !== 0"><del>${{product[8].price}}</del></span></p>
                  </div>
                  </div>
              </div>
            </div>
<!--最夯熱賣-->
            <div role="tabpanel" class="tab-pane" id="messages">
              <div id="owl-example-three" class="owl-carousel">

                      <div class="item">
                          <div class="item-img">
                            <img [src]="product[0].Icon.src" alt="" />
                            <div class="tr-add-cart">
                              <ul>
                                <li><a class="fa fa-shopping-cart tr_cart tr_text" (click)="AddToCart(product[0].id)" href="##"> 加進購物車</a></li>
                                <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[0].id]" routerLinkActive="router-link-active"></a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="item-new">
                            <p>Sold</p>
                            <span>{{product[0].sold}}隻</span>
                          </div>
                          <div class="item-sub">
                            <a [routerLink]="['/product-detail',product[0].id]" routerLinkActive="router-link-active"><h5>{{product[0].NAME}}</h5></a>
                            <p>${{product[0].finalPrice}} <span *ngIf="product[0].discount !== 0"><del>${{product[0].price}}</del></span></p>
                          </div>
                          </div>

                          <div class="item">
                          <div class="item-img">
                            <img [src]="product[1].Icon.src" alt="" />
                            <div class="tr-add-cart">
                              <ul>
                                <li><a class="fa fa-shopping-cart tr_cart tr_text" (click)="AddToCart(product[1].id)" href="##"> 加進購物車</a></li>
                                <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[1].id]" routerLinkActive="router-link-active"></a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="item-new">
                            <p>Sold</p>
                            <span>{{product[1].sold}}隻</span>
                          </div>
                          <div class="item-sub">
                            <a [routerLink]="['/product-detail',product[1].id]" routerLinkActive="router-link-active"><h5>{{product[1].NAME}}</h5></a>
                            <p>${{product[1].finalPrice}} <span *ngIf="product[1].discount !== 0"><del>${{product[1].price}}</del></span></p>
                          </div>
                          </div>

                          <div class="item">
                          <div class="item-img">
                            <img [src]="product[2].Icon.src" alt="" />
                            <div class="tr-add-cart">
                              <ul>
                                <li><a class="fa fa-shopping-cart tr_cart tr_text" (click)="AddToCart(product[2].id)" href="##"> 加進購物車</a></li>
                                <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[2].id]" routerLinkActive="router-link-active"></a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="item-new">
                              <p>Sold</p>
                              <span>{{product[2].sold}}隻</span>
                          </div>
                          <div class="item-sub">
                            <a [routerLink]="['/product-detail',product[2].id]" routerLinkActive="router-link-active"><h5>{{product[2].NAME}}</h5></a>
                            <p>${{product[2].finalPrice}} <span *ngIf="product[2].discount !== 0"><del>${{product[2].price}}</del></span></p>
                          </div>
                          </div>

                          <div class="item">
                          <div class="item-img">
                            <img [src]="product[3].Icon.src" alt="" />
                            <div class="tr-add-cart">
                              <ul>
                                <li><a class="fa fa-shopping-cart tr_cart tr_text" (click)="AddToCart(product[3].id)" href="##"> 加進購物車</a></li>
                                <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[3].id]" routerLinkActive="router-link-active"></a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="item-new">
                              <p>Sold</p>
                              <span>{{product[3].sold}}隻</span>
                          </div>
                          <div class="item-sub">
                            <a [routerLink]="['/product-detail',product[3].id]" routerLinkActive="router-link-active"><h5>{{product[3].NAME}}</h5></a>
                            <p>${{product[3].finalPrice}} <span *ngIf="product[3].discount !== 0"><del>${{product[3].price}}</del></span></p>
                          </div>
                          </div>

                          <div class="item">
                          <div class="item-img">
                            <img [src]="product[4].Icon.src" alt="" />
                            <div class="tr-add-cart">
                              <ul>
                                <li><a class="fa fa-shopping-cart tr_cart tr_text" (click)="AddToCart(product[4].id)" href="##"> 加進購物車</a></li>
                                <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[4].id]" routerLinkActive="router-link-active"></a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="item-new">
                              <p>Sold</p>
                              <span>{{product[4].sold}}隻</span>
                          </div>
                          <div class="item-sub">
                            <a [routerLink]="['/product-detail',product[4].id]" routerLinkActive="router-link-active"><h5>{{product[4].NAME}}</h5></a>
                            <p>${{product[4].finalPrice}} <span *ngIf="product[4].discount !== 0"><del>${{product[4].price}}</del></span></p>
                          </div>
                          </div>

                          <div class="item">
                          <div class="item-img">
                            <img [src]="product[5].Icon.src" alt="" />
                            <div class="tr-add-cart">
                              <ul>
                                <li><a class="fa fa-shopping-cart tr_cart tr_text" (click)="AddToCart(product[5].id)" href="##"> 加進購物車</a></li>
                                <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[5].id]" routerLinkActive="router-link-active"></a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="item-new">
                              <p>Sold</p>
                              <span>{{product[5].sold}}隻</span>
                          </div>
                          <div class="item-sub">
                            <a [routerLink]="['/product-detail',product[5].id]" routerLinkActive="router-link-active"><h5>{{product[5].NAME}}</h5></a>
                            <p>${{product[5].finalPrice}}<span *ngIf="product[5].discount !== 0"><del>${{product[5].price}}</del></span></p>
                          </div>
                          </div>

                          <div class="item">
                          <div class="item-img">
                            <img [src]="product[6].Icon.src" alt="" />
                            <div class="tr-add-cart">
                              <ul>
                                <li><a class="fa fa-shopping-cart tr_cart tr_text" (click)="AddToCart(product[6].id)" href="##"> 加進購物車</a></li>
                                <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[6].id]" routerLinkActive="router-link-active"></a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="item-new">
                              <p>Sold</p>
                              <span>{{product[6].sold}}隻</span>
                          </div>
                          <div class="item-sub">
                            <a [routerLink]="['/product-detail',product[6].id]" routerLinkActive="router-link-active"><h5>{{product[6].NAME}}</h5></a>
                            <p>${{product[6].finalPrice}} <span *ngIf="product[6].discount !== 0"><del>${{product[6].price}}</del></span></p>
                          </div>
                          </div>

                          <div class="item">
                          <div class="item-img">
                            <img [src]="product[7].Icon.src" alt="" />
                            <div class="tr-add-cart">
                              <ul>
                                <li><a class="fa fa-shopping-cart tr_cart tr_text" (click)="AddToCart(product[7].id)" href="##"> 加進購物車</a></li>
                                <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[7].id]" routerLinkActive="router-link-active"></a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="item-new">
                              <p>Sold</p>
                              <span>{{product[7].sold}}隻</span>
                          </div>
                          <div class="item-sub">
                            <a [routerLink]="['/product-detail',product[7].id]" routerLinkActive="router-link-active"><h5>{{product[7].NAME}}</h5></a>
                            <p>${{product[7].finalPrice}} <span *ngIf="product[7].discount !== 0"><del>${{product[7].price}}</del></span></p>
                          </div>
                          </div>

                          <div class="item">
                          <div class="item-img">
                            <img [src]="product[8].Icon.src" alt="" />
                            <div class="tr-add-cart">
                              <ul>
                                <li><a class="fa fa-shopping-cart tr_cart tr_text" (click)="AddToCart(product[8].id)" href="##"> 加進購物車</a></li>
                                <li><a class="fa fa-search tr_search" [routerLink]="['/product-detail',product[8].id]" routerLinkActive="router-link-active"></a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="item-new">
                              <p>Sold</p>
                              <span>{{product[8].sold}}隻</span>
                          </div>
                          <div class="item-sub">
                            <a [routerLink]="['/product-detail',product[8].id]" routerLinkActive="router-link-active"><h5>{{product[8].NAME}}</h5></a>
                            <p>${{product[8].finalPrice}} <span *ngIf="product[8].discount !== 0"><del>${{product[8].price}}</del></span></p>
                          </div>
                          </div>
              </div>
            </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
