<section class="branding_area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="branding_box">
          <div class="branding_box_heading">
            <h2>Branding</h2>
            <div class="dotted_line"></div>
          </div>
          <div id="branding_caro" class="owl-carousel">
            <div>
            <img src="images/brand1.png" alt="" />
            </div>
            <div>
            <img src="images/brand2.png" alt="" />
            </div>
            <div>
            <img src="images/brand3.png" alt="" />
            </div>
            <div>
            <img src="images/brand4.png" alt="" />
            </div>
            <div>
            <img src="images/brand5.png" alt="" />
            </div>
            <div>
            <img src="images/brand6.png" alt="" />
            </div>
            <div>
            <img src="images/brand1.png" alt="" />
            </div>
            <div>
            <img src="images/brand2.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
