.member_menu {
  background: none repeat scroll 0 0 #fff;
  box-shadow: 0 10px 15px #ddd;
  overflow: hidden;
  padding: 5px 0;
  position: absolute;
  margin-top: auto;
  top: 26.8px;
  right: 0px;
  width: 200px;
  opacity: 0;
  transition: all 0.5s ease 0s;
  z-index: -1;
}
.member_menu_hover {
  opacity: 1;
  overflow: visible;
  /* 若 z-index 太小, 可能會被其他元件壓在上方, 導致無法使用事件 mouseenter mouseleave */
  z-index: 5;
}
.member_menu > div {
  padding: 2px 30px;
}
.member_menu > div:hover {
  background-color: #f5f6f7;
}
.member_menu > div > a {
  color: #90949c;
  cursor: pointer;
}
.member_menu > div > a:hover {
  text-decoration: none;
}
