<div class="header_top">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="header_top_left">
          <img src="images/car.png" alt="Header Car Icon" />
          <p>get free! shipping on order over <span>$100</span></p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="header_top_right floatright">
          <p><a href="">login</a> / <a href="">register</a></p>
          <nav class="currency alignleft">
            <ul>
              <li><a href="">USD</a>
                <ul class="currency-dropdown">
                  <li><a href="">EUR</a></li>
                  <li><a href="">GBP</a></li>
                  <li><a href="">CAD</a></li>
                  <li><a href="">AUD</a></li>
                </ul>
              </li>
            </ul>
          </nav>
          <div class="top-flag alignleft">
            <img src="images/flag.png" alt="Flags" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
