<div class="header_top">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="header_top_left">
          <!-- <img src="images/car.png" alt="Header Car Icon" /> -->
          <!-- <p>get free! shipping on order over <span>$100</span></p> -->
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="header_top_right floatright" (mouseenter)="hover = hover + 1;" (mouseleave)="hover = hover - 1;">
          <p *ngIf="!authService.LoggedIn(); else loggedOut">
            <a [routerLink]="['/auth/login']" routerLinkActive="router-link-active" >登入</a> /
            <a [routerLink]="['/auth/register']" routerLinkActive="router-link-active" >註冊</a>
          </p>
          <ng-template #loggedOut>
              <p>
                <a>私の帳號</a>
              </p>
          </ng-template>
        </div>

        <div *ngIf="authService.LoggedIn()" class="member_menu" [ngClass]="{'member_menu_hover': hover > 0}" (mouseenter)="hover = hover + 1" (mouseleave)="hover = hover - 1">
          <div>
              <a [routerLink]="['/auth/myAccount']" routerLinkActive="router-link-active" >會員中心</a>
          </div>
          <div>
              <a (click)="logout()">登出</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
