/* @keyframes colorChangeAni{
    0%   {}
    100% {background-color: rgb(190, 224, 247)}
} */

.MonCatSel::before{
    content: attr(data-text);
}

.MonCatSel {
    
    display: inline-block;
    position: relative;
    margin: 6px 3px 0 0;
    font-size: 16px;
    border: 2px;
    border-color: #eee;
    border-radius: 7px;
    border-style: solid;
    text-align: center;
    width: 30%;
    /* height: 2em; */
    background-color: #eee;
    transition: background-color 1.0s ease 0s,border-color 1.3s ease 0s;
    cursor: pointer;
}

/* .MonCatSel {
    display: inline-block;
    position: relative;
    margin: 6px 3px 0 0;
    font-size: 16px;
    border: 2px;
    border-color: black;
    border-radius: 7px;
    border-style: groove;
    text-align: center;
    width: 30%;
    background-color:rgb(233, 231, 231);
    transition: background-color 1.0s ease 0s; 
} */

.MonCatSel_A{
    background-color: rgb(255, 90, 95);
    border-color:  rgb(255, 90, 95);
    transition: all 0.5s ease 0s;
    color: white;
}
/* .MonCatSel_A{
    background-color:rgb(166, 255, 77);
    transition: all 0.3s ease 0s;
} */


/* .MonCatSel:active{
    animation-name: colorChangeAni;
    animation-duration: 2s;
} */


.SELPAGE {
    background-color: rgb(255, 103, 102);
    border: 1px;
    border-radius: 50%;
    transition: all 0.5s ease 0s;
}


.searchDisable{
    background-color: gray;
}

.Animate1{
    transition: all 0.5s ease 0s;
}

/* Button CSS */
  input.checkbox{
    display:none;  
  }
  label.checkbox{
    background-color: rgba(255, 0, 0, 0.9);
    width: 35px;
    height: 15px;
    box-sizing: border-box;
    border: 2px solid;
    float: left;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    transition: .3s ease;
    padding: 0px;
    margin: 0px 4px;
  }
  input[type=checkbox]:checked + label.checkbox{
    background:#55e868;
  }
  input[type=checkbox]:checked + label.checkbox:before{
    left:20px;
  }
  label.checkbox:before{
    transition: .3s ease;
    content: '';
    width: 9px;
    height: 9px;
    position: absolute;
    background: white;
    left: 1px;
    top: 1px;
    box-sizing: border-box;
    border: 2px solid;
    color: black;
    border-radius: 100px;
  }


  label.checkbox.filterbar{
    width: 45px;
    height: 20px;
    box-sizing: border-box;
    border: 2px solid;
    float: left;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    transition: .3s ease;
    padding: 0px;
    margin: 0px 4px;
  }
  label.checkbox.filterbar:before{
    transition: .3s ease;
    content: '';
    width: 14px;
    height: 14px;
    position: absolute;
    background: white;
    left: 2px;
    top: 1px;
    box-sizing: border-box;
    border: 2px solid;
    color: black;
    border-radius: 100px;
  }
  input[type=checkbox]:checked + label.checkbox.filterbar{
    background:#55e868;
  }
  input[type=checkbox]:checked + label.checkbox.filterbar:before{
    left:25px;
  }
  


/* END OF BUTTON CSS */




.panel-title a{
    float: left;
}


/* SEARCH BUTTON */
.searchBtn {
    width:50px;
    height:30px;
    border: 0px;
    margin-top: 25px;
    background-image: url("../../assets/icon/pokemonSearch.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(148, 148, 148) ;
    border-radius: .2rem;
    float: left;
    max-width: 30%;
    outline: 0;
  }
  
  .search  {
    width: 120px;
    height: 30px;
    margin-top: 25px;
    background: rgb(211, 211, 211);
    border-radius: .2rem;
    border-style: outset;
    border: 0px;
    float: left;
    max-width: 70%;
  }
  
  
  .search:focus{
    width: 100%;
    transition: width 0.5s ease 0s;
  }
  
  .header {
    height: 150px;
  }
  
  .search_container{
    width: 100%;
  }