<!-- <section class="breadcumb_top_area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="bread_top_box">
          <h2>Men</h2>
        </div>
      </div>
    </div>
  </div>
</section> -->
<div class="filter_area">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-8 col-xs-12">
          <div class="filter_box_left">
            <p>過濾器</p>
            <div class="filter_cont">
              <ul>
                <input  type="checkbox" [(ngModel)]="this.categoryService.filter"  class="checkbox filterbar" id="enablefilter0" >
                <label class='checkbox filterbar' for="enablefilter0" (click)="ToggleFilter()"></label>
              </ul>
            </div>
            <div class="s_results">
              <p><span>|</span> 顯示商品: {{ this.categoryService.indexS }}-{{ this.categoryService.indexE }} / 所有商品: {{ this.categoryService.productMax }}</p>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-6 col-sm-4 col-xs-12">
          <div class="filter_box_right">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">sort by newness
               <span class="caret">
               </span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Top Seller </a></li>
              <li><a href="#">Most Popular</a></li>
              <li><a href="#">Alphabetically</a></li>
              <li><a href="#">Older First</a></li>
            </ul>
          </div>
        </div> -->
      </div>
    </div>
</div>

<section class="main_category_area">
    <div class="container">
      <div class="row">
<!-- FILTER -->
        <ng-container *ngIf="this.categoryService.filter;">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="main_category_left">
                  <div class="panel-group" id="home-accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingOne">
                          
                        <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#home-accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          神奇寶貝
                        </a>
                        <input  type="checkbox" [(ngModel)]="this.categoryService.enableMCFilter"  class="checkbox" id="enablefilter1" ><label class='checkbox' for="enablefilter1"></label>
                        <span class="floatright" data-toggle="collapse" data-parent="#home-accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="fa fa-minus"></i></span>
                        </h4>
                      </div>
                      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                        <ul id="c_tab1">
                          <ng-container *ngFor="let item of this.categoryService.MonsterAttrs;let index = index">
                              <div [ngClass]="{'MonCatSel': true,
                                               'MonCatSel_A':this.categoryService.MonsterAttrs[index].active}" 
                                   (click)="this.categoryService.ToggleMT(index)">{{item.name}} </div>
                          </ng-container>
                        </ul>
                        <div class="cat_filter_box" style="margin-top: 15px">
                          <div>
                            <label (click)="this.categoryService.FilterAttr()" [ngClass]="{'searchDisable': !this.categoryService.enableMCFilter,'Animate1':true }">搜尋</label>
                          </div>
                        </div>
                        </div>
                      </div>
                    </div>

                    <!-- Todo: 賣更多不一樣性質的東西 -->
                    <!-- <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                          <a class="collapsed" data-toggle="collapse" data-parent="#home-accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          道具
                          <span class="floatright"><i class="fa fa-minus"></i></span>
                        </a>
                        </h4>
                      </div>
                      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                        <ul id="c_tab1">
                          <li><a href="">精靈球  (12)</a></li>
                          <li><a href="">果實  (54)</a></li>
                          <li><a href="">攜帶物品  (105)</a></li>
                          <li><a href="">狀態治療道具  (48)</a></li>
                        </ul>
                        </div>
                      </div>
                    </div> -->

                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingThree">
                          
                        <h4 class="panel-title">
                          <a  class="collapsed" data-toggle="collapse" data-parent="#home-accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          價格範圍
                          </a>
                          <input type="checkbox"[(ngModel)]="this.categoryService.enablePriceFilter"  class="checkbox" id="enablefilter2" ><label class='checkbox' for="enablefilter2"></label>
                          <span class="floatright" data-toggle="collapse" data-parent="#home-accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><i class="fa fa-plus"></i></span>
                        </h4>
                       
                      </div>
                      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                          <div class="panel-body">
                            <div id="slider-range"></div>
                            <!-- <input type="range" name="points" min="100" max="100000" step="1" [(ngModel)]="priceMax"> -->
                            <div class="cat_filter_box">
                              <div>
                                <label (click)="this.categoryService.FilterPrice()" [ngClass]="{'searchDisable': !this.categoryService.enablePriceFilter,'Animate1':true }">搜尋</label>
                                <!-- <div id="amount1" style="display: inline-block;">100</div>
                                <div style="display: inline-block;"> to </div>
                                <div id="amount2" style="display: inline-block;">100</div> -->

                                <input type="text" id="amount1" readonly style="border:0; color:#000; font-weight:bold; display: inline;" [(ngModel)]="this.categoryService.priceMin">
                                <input type="text" id="amount2" readonly style="border:0; color:#000; font-weight:bold; display: inline;" [(ngModel)]="this.categoryService.priceMax">
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>
                    <!-- <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                      <h4 class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#home-accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        COLOURS
                        <span class="floatright"><i class="fa fa-plus"></i></span>
                      </a>
                      </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                      <div class="panel-body colors_cat">
                      <ul id="cat_color">
                        <li><a class="col-1" href=""></a></li>
                        <li><a class="col-2" href=""></a></li>
                        <li><a class="col-3" href=""></a></li>
                        <li><a class="col-4" href=""></a></li>
                        <li><a class="col-5" href=""></a></li>
                        <li><a class="col-6" href=""></a></li>
                        <li><a class="col-7" href=""></a></li>
                        <li><a class="col-8" href=""></a></li>
                        <li><a class="col-9" href=""></a></li>
                        <li><a class="col-10" href=""></a></li>
                      </ul>
                      </div>
                    </div>
                    </div> -->
                    <!-- <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                      <h4 class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#home-accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        size
                        <span class="floatright"><i class="fa fa-plus"></i></span>
                      </a>
                      </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                      <div class="panel-body">
                      <ul id="cat_size">
                        <li><a href="">xs</a></li>
                        <li><a href="">s</a></li>
                        <li><a href="">m</a></li>
                        <li><a href="">l</a></li>
                        <li><a href="">xl</a></li>
                        <li><a href="">xxl</a></li>
                      </ul>
                      </div>
                    </div>
                    </div> -->
                    <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                      <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#home-accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          排序方式 
                        </a>
                        <span class="floatright" data-toggle="collapse" data-parent="#home-accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour"><i class="fa fa-plus"></i></span>
                      </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                      <div class="panel-body">
                      <ul id="c_tab2">
                        <li><a (click)="this.categoryService.SortNone()">一般</a></li>
                        <li><a (click)="this.categoryService.SortNewest()">最新</a></li>
                        <!-- <li><a (click)="Buf2SortNew()">Oldest</a></li> -->
                        <!-- <li><a (click)="Buf2SortPrice()">Highest Origin Price</a></li> -->
                        <li><a (click)="this.categoryService.SortHottest()">最夯</a></li>
                        <li><a (click)="this.categoryService.SortCheapest()">最便宜</a></li>
                      </ul>
                      </div>
                    </div>
                    </div>
                    

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                          <h4 class="panel-title">
                            <a  class="collapsed" data-toggle="collapse" data-parent="#home-accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            商品搜尋
                            </a>
                            <span class="floatright" data-toggle="collapse" data-parent="#home-accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive"><i class="fa fa-plus"></i></span>
                          </h4>
                         
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                                <ul id="c_tab2">
                                    <div class="search_container">
                                      <!-- Todo: Search Product -->
                                      <button class="searchBtn" (click)="this.categoryService.SearchMonster()" ></button>
                                      <input type="text" class="search" placeholder="search" [(ngModel)]="this.categoryService.SearchString" (keydown.enter)="this.categoryService.SearchMonster()" />
                                    </div>
                                </ul>
                            </div>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
        </ng-container>
<!-- PRODUCT PAGE -->
        <div [ngClass]="{'col-md-12':this.categoryService.filter==false,
                         'col-md-9':this.categoryService.filter,
                         'col-sm-12':this.categoryService.filter==false,
                         'col-sm-8':this.categoryService.filter,
                         'col-xs-12':true
                        }">
            <div [ngClass]="{'main_category_right' : true,
                             'cat-2' : this.categoryService.filter==false
                            }">
            </div>
            <div class="row">
              <ng-container *ngIf="this.categoryService.monCache.length > 0">
                <ng-container *ngFor="let item of this.categoryService.PageBuf();
                                      let index = index">
                    <div [ngClass]="{'col-md-3':this.categoryService.filter==false,
                                  'col-md-4':this.categoryService.filter,
                                  'col-sm-4': this.categoryService.filter==false,
                                  'col-sm-6':this.categoryService.filter,
                                  'col-xs-12':true
                                  }">
                        <div class="main_cat_item">
                          <div class="item">
                            <div class="item-img">
                              <img [src]="item.Icon.src" alt="" />
                              <div class="tr-add-cart">
                                <ul>
                                  <li><a class="fa fa-shopping-cart tr_cart tr_text" (click)="this.cartService.Add(item.id)"> 加進購物車 </a></li>
                                  <!-- Todo: Wish List -->
                                  <!-- <li><a class="fa fa-heart tr_heart"></a></li> -->

                                  <li><a class="fa fa-search tr_search" [routerLink]="[ '/product-detail',item.id]" routerLinkActive="active"></a></li>
                                </ul>
                              </div>
                            </div>
                            <div class="item-new">
                              <p>New</p>
                              <ng-container *ngIf="item.discount > 0">
                                 <span>{{item.discount}}%</span>
                              </ng-container>
                            </div>
                            <div class="item-sub">
                              <a [routerLink]="[ '/product-detail',item.id]" routerLinkActive="active"><h5>{{item.NAME}}</h5></a>
                              <p>$ {{ MathRound(item.price/100*item.discount) }}
                                <ng-container *ngIf="item.discount > 0">
                                    <span><del>$ {{ item.price }}</del></span>
                                </ng-container>
                              </p>
                            </div>
                          </div>
                        </div>
                    </div>
                </ng-container>
              </ng-container> 
            </div>
        </div>
      </div>
<!-- PAGE SELECTOR -->
      <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="pagi_line"></div>
            <div class="pagi_ul">
              <ul id="pagination">
                <li><a (click)="this.categoryService.prevTenPage()"> 前十頁 </a></li>
                <li><a (click)="this.categoryService.prevPage()"> 前一頁 </a></li> 
                <ng-container *ngFor="let item of this.categoryService.CreatePageIndex();let index = index">
                    <li><a (click)="this.categoryService.Page(item)" [ngClass]="{'SELPAGE': item==this.categoryService.page }">{{item}}</a></li>
                </ng-container>
                 <li><a (click)="this.categoryService.nextPage()"> 後一頁 </a></li>
                 <li><a (click)="this.categoryService.nextTenPage()"> 後十頁 </a></li>
              </ul>
            </div>
          </div>
      </div>
    </div>
</section>



