<section class="breadcumb_top_area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="bread_top_box">
          <h2>Men</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="breadcumb_area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="bread_box">
          <ul class="breadcumb">
            <li><a href="index.html">home <span>|</span></a></li>
            <li><a href="">Shop <span>|</span></a></li>
            <li><a href="">Category <span>|</span></a></li>
            <li class="active"><a href="">Men</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>