<section class="testimonial_area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="textimonial_box">
          <img src="images/msg.png" alt="" />
          <h2>lovely clients comment</h2>
          <div class="multi_line"></div>

          <div id="testi_carosel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
            <li data-target="#testi_carosel" data-slide-to="0" class="active"></li>
            <li data-target="#testi_carosel" data-slide-to="1"></li>
            <li data-target="#testi_carosel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
            <div class="item active">
              <p>It’s really Awesome Theme & specialy made for brand online shopping, so this theme uniqe elements use to create your dream website and help to promote your Product.</p>
              <div class="client_box">
                <img src="images/client_qoute.png" alt="" />
                <div class="client_box_text">
                  <h4>SAN MICHLE</h4>
                  <p>DIRECTOR OF EXAMPLE LTD</p>
                </div>
              </div>
            </div>
            <div class="item">
              <p>It’s really Awesome Theme & specialy made for brand online shopping, so this theme uniqe elements use to create your dream website and help to promote your Product.</p>
              <div class="client_box">
                <img src="images/client_qoute.png" alt="" />
                <div class="client_box_text">
                  <h4>SAN MICHLE</h4>
                  <p>DIRECTOR OF EXAMPLE LTD</p>
                </div>
              </div>
            </div>
            <div class="item">
              <p>It’s really Awesome Theme & specialy made for brand online shopping, so this theme uniqe elements use to create your dream website and help to promote your Product.</p>
              <div class="client_box">
                <img src="images/client_qoute.png" alt="" />
                <div class="client_box_text">
                  <h4>SAN MICHLE</h4>
                  <p>DIRECTOR OF EXAMPLE LTD</p>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
