<!-- <div class="breadcumb_area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="bread_box">
          <ul class="breadcumb">
            <li><a [routerLink]="['/']" routerLinkActive="router-link-active" >home <span>|</span></a></li>
            <li><a [routerLink]="['/cart']" routerLinkActive="router-link-active" >shop <span>|</span></a></li>
            <li><a [routerLink]="['/category/general']" routerLinkActive="router-link-active" >mens <span>|</span></a></li>
            <li class="active"><a [routerLink]="['/']" routerLinkActive="router-link-active" >t-shirt</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> -->
  <section class="gray_tshirt_area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="gray_tshirt">
        <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="single_product_image_tab">
            <div role="tabpanel">

              <!-- Nav tabs -->
              <ul class="nav nav-tabs product_detail_zoom_tab" role="tablist">
              <ng-container *ngFor="let  item of ImageIndex() ">
                  <li role="presentation" class="active">
                    <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                      <div class="small_img">
                        <img (click)="ImageSwap(item)" [src]="imageSrc[item]" alt="" />
                      </div>
                    </a>
                  </li>
              </ng-container>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                  <div class="single_p_image">
                    <img id="zoom_01" [src]="imageSrc[ImageID]" [attr.data-zoom-image]="imageSrc[ImageID]" alt=""/>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <ng-container *ngIf="Product.id != 0">
          <div class="product_detail_heading">
            <div class="detail_heading_left">
              <h3>
                {{ Product.NAME }}
                <ng-container *ngFor="let attr of Product.attributes">
                  <p class="attr_icon" [ngStyle]="CategoryIconStyle(attr.NAME)">
                    {{attr.NAME}}
                  </p>
                </ng-container>
              </h3>
              <div class="new_price_gray">
                <p> 
                  {{ this.categoryService.MathRound(Product.price / 100 * Product.discount) }} 
                  <ng-container *ngIf="Product.discount > 0">
                      <span class="item-discount">{{Product.discount}}%</span>
                  </ng-container>
                </p>
              </div>
              <ng-container *ngIf="Product.discount > 0">
                <div class="old_price_gray"><del>{{ Product.price }} </del></div>
              </ng-container>
            </div>
            <!-- <div class="detail_heading_right">
              <ul id="detail_star">
                <li><a class="fa fa-star-o red"></a></li>
                <li><a class="fa fa-star-o red"></a></li>
                <li><a class="fa fa-star-o red"></a></li>
                <li><a class="fa fa-star-o"></a></li>
                <li><a class="fa fa-star-o"></a></li>
              </ul>
              <p>(5 Review)</p>
            </div> -->
          </div>
          </ng-container>
          <div class="panel-group product_accordion" id="home-accordion-single" role="tablist" aria-multiselectable="true">
<!-- 怪物描述 -->
            <div class="panel panel-default product_default">
            <div class="panel-heading product_accordion_heading" role="tab" id="headingOneP">
              <h4 class="panel-title product_accordion_head">
               <a data-toggle="collapse" data-parent="#home-accordion-single" href="#collapseOneP" aria-expanded="true" aria-controls="collapseOneP">
                  描述
                 <span class="floatright"><i class="fa fa-minus"></i></span>
               </a>
              </h4>
            </div>
            <div id="collapseOneP" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOneP">
              <div class="panel-body product_ac_body">
             <p>{{Product.description}}</p>
             <ul id="product_accord_nav">
                <li><a>Tristique senectus et netus aspernatur aut.</a></li>
                <li><a>Labore doloam aliquam quaerat voluptatem.</a></li>
                <li><a>Nisi ut aliquid ex ea commodi consequatue.</a></li>
              </ul>
              </div>
            </div>
           </div>
<!-- 怪物資料 -->
           <div class="panel panel-default product_default">
            <div class="panel-heading product_accordion_heading" role="tab" id="headingTwoP">
              <h4 class="panel-title product_accordion_head">
                <a class="collapsed" data-toggle="collapse" data-parent="#home-accordion-single" href="#collapseTwoP" aria-expanded="false" aria-controls="collapseTwoP">
                  產品數值
               <span class="floatright"><i class="fa fa-plus"></i></span>
                </a>
              </h4>
            </div>
            <div id="collapseTwoP" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwoP">
              <div class="panel-body fit">
                <tbody class='monster_table'>
                    <tr class='monster_detail'>
                        <td class='monster_detail_name'>
                          生命值
                        </td>
                        <td class='monster_detail_bar'>
                            <div [ngStyle]=" SingleAttrStyle(Product.HP) "></div>
                        </td>
                        <td class='monster_detail_value'>
                          {{Product.HP}}
                        </td>
                    </tr>
                    <tr class='monster_detail'>
                        <td class='monster_detail_name'>
                          攻擊
                        </td>
                        <td class='monster_detail_bar'>
                            <div [ngStyle]=" SingleAttrStyle(Product.ATTACK) "></div>
                        </td>
                        <td class='monster_detail_value'>
                          {{Product.ATTACK}}
                        </td>
                    </tr>
                    <tr class='monster_detail'>
                        <td class='monster_detail_name'>
                          防守
                        </td>
                        <td class='monster_detail_bar'>
                            <div [ngStyle]=" SingleAttrStyle(Product.DEFENSE) "></div>
                        </td>
                        <td class='monster_detail_value'>
                          {{Product.DEFENSE}}
                        </td>
                    </tr>
                    <tr class='monster_detail'>
                        <td class='monster_detail_name'>
                          特殊攻擊 
                        </td>
                        <td class='monster_detail_bar'>
                            <div [ngStyle]="SingleAttrStyle(Product.SP_ATTACK) "></div>
                        </td>
                        <td class='monster_detail_value'>
                          {{Product.SP_ATTACK}}
                        </td>
                    </tr>
                    <tr class='monster_detail'>
                        <td class='monster_detail_name'>
                          特殊防守
                        </td>
                        <td class='monster_detail_bar'>
                            <div [ngStyle]="SingleAttrStyle(Product.SP_DEFENSE) "></div>
                        </td>
                        <td class='monster_detail_value'>
                          {{Product.SP_DEFENSE}}
                        </td>
                    </tr>
                    <tr class='monster_detail'>
                        <td class='monster_detail_name'>
                          速度
                        </td>
                        <td class='monster_detail_bar'>
                            <div   [ngStyle]=" SingleAttrStyle(Product.SPEED) "></div>
                        </td>
                        <td class='monster_detail_value'>
                          {{Product.SPEED}}
                        </td>
                    </tr>
                    <tr class='monster_detail'>
                        <td class='monster_detail_name'>
                          綜合分數
                        </td>
                        <td class='monster_detail_bar'>
                            <div [ngStyle]=" CombAttrStyle(CombScore()) "></div>
                        </td>
                        <td class='monster_detail_value'>
                          {{ CombScore() }}
                        </td>
                    </tr>
                </tbody>
              </div>
            </div>
           </div>
<!-- 購物車  -->
           <div class="panel panel-default product_default">
            <div class="panel-heading product_accordion_heading" role="tab" id="headingThreeP">
              <h4 class="panel-title product_accordion_head">
             <a class="collapsed" data-toggle="collapse" data-parent="#home-accordion-single" href="#collapseThreeP" aria-expanded="false" aria-controls="collapseThreeP">
                加入購物車
               <span class="floatright"><i class="fa fa-plus"></i></span>
             </a>
              </h4>
            </div>
            <div id="collapseThreeP" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThreeP">
              <div class="panel-body product_accordion_head">
                <div class="single_color">
                  <div class="color_heading" style="width: 80px">
                    <h5 style="line-height: 30px;padding-left:  20px" >數量</h5>
                  </div>
                  <div class="color_detail">
                    <div class="size_down">
                      <input type="number" size="4" class="input-text qty text" title="Qty"  [(ngModel)]="addProductNum" name="quantity[113]" max="119" min="0" step="1">
                    </div>
                    <div class="size_cart" (click)="AddToCart()">
                      <a>Add to cart</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           </div>
          </div>

        </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  </section>
  <!-- <section class="product_page_tab_area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product_page_tab">
          <div role="tabpanel">
            <ul class="nav nav-tabs tab-product" role="tablist">
            <li role="presentation" class="active"><a href="#home2" aria-controls="home2" role="tab" data-toggle="tab">Description</a></li>
            <li role="presentation"><a href="#profile2" aria-controls="profile2" role="tab" data-toggle="tab">ADDITIONAL INFORMATION</a></li>
            <li role="presentation"><a href="#messages2" aria-controls="messages2" role="tab" data-toggle="tab">Review (2)</a></li>
            </ul>

            <div class="tab-content tab-p-details">
            <div role="tabpanel" class="tab-pane active" id="home2"><h2>Description</h2>
              <div class="multi_line"></div>
              <p>Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enimsal ipsam salamthi voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptateras sequi nesciunt resmla Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquae eius modi tempora inciduntia ut labore et dolore magnam aliquam quaerat voluptatem.
              </p>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile2"><h2>Additional Information</h2>
              <div class="multi_line"></div>
              <p>Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enimsal ipsam salamthi voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptateras sequi nesciunt resmla Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquae eius modi tempora inciduntia ut labore et dolore magnam aliquam quaerat voluptatem.
              </p>
            </div>
            <div role="tabpanel" class="tab-pane" id="messages2">
              <div class="review_comments">
                <div class="review_heading">
                  <div class="review_heading_left">
                    <h2><span>2 Review for </span> "Gray Structured T-Shirt"</h2>
                    <div class="multi_line"></div>
                  </div>
                  <div class="review_heading_right">
                    <ul id="review_heading_star">
                      <li><a href="" class="fa fa-star"></a></li>
                      <li><a href="" class="fa fa-star"></a></li>
                      <li><a href="" class="fa fa-star"></a></li>
                      <li><a href="" class="fa fa-star"></a></li>
                      <li><a href="" class="fa fa-star"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="single_review_comment">
                  <div class="single_review_img">
                    <img src="assets/images/single_rv1.png" alt="" />
                  </div>
                  <div class="single_review_text">
                    <h4>A Stunning Beauty!</h4>
                    <ul id="single_review_star">
                      <li><a href="" class="fa fa-star"></a></li>
                      <li><a href="" class="fa fa-star"></a></li>
                      <li><a href="" class="fa fa-star"></a></li>
                      <li><a href="" class="fa fa-star"></a></li>
                      <li><a href="" class="fa fa-star"></a></li>
                    </ul>
                    <p>Semper orci etiam ac ultricies ante. Donec lobortis variusjusto et. Curabitur egestas aliquet massa non elementum. Quisque at risus nisl. Aliquam erat volutpat. Suspendisse potenti. Nullam porta faucibus elit.</p>
                    <div class="review_italic">
                      <p><span>Nicole Bailey,</span> 12.05.2013</p>
                    </div>
                  </div>
                </div>
                <div class="single_review_comment last">
                  <div class="single_review_img">
                    <img src="assets/images/single_rv2.png" alt="" />
                  </div>
                  <div class="single_review_text last">
                    <h4>A Stunning Beauty!</h4>
                    <ul id="single_review_star">
                      <li><a href="" class="fa fa-star"></a></li>
                      <li><a href="" class="fa fa-star"></a></li>
                      <li><a href="" class="fa fa-star"></a></li>
                      <li><a href="" class="fa fa-star"></a></li>
                      <li><a href="" class="fa fa-star"></a></li>
                    </ul>
                    <p>Semper orci etiam ac ultricies ante. Donec lobortis variusjusto et. Curabitur egestas aliquet massa non elementum. Quisque at risus nisl. Aliquam erat volutpat. Suspendisse potenti. Nullam porta faucibus elit.</p>
                    <div class="review_italic">
                      <p><span>Nicole Bailey,</span> 12.05.2013</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="Review_input">
                <div class="review_input_heading">
                  <h3>Write your review</h3>
                  <div class="multi_line"></div>
                </div>
                <div class="review_comment_input">
                  <input type="text" placeholder="Enter Your Nickname"/><br>
                  <input type="text" placeholder="Summary of your Review"/><br>
                  <textarea name="" id="" cols="30" rows="10" placeholder="Write your review"></textarea><br>
                  <input type="submit" value="Submit Review"/>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section> -->

  <section class="main_category_area product_page_caro">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="main_category_right product-box">
        <h3 class="product">相關產品</h3>
        <div class="multi_line"></div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div id="owl-example-single" class="owl-carousel">
                <ng-container *ngFor="let prod of relativeMonsters">
                    <div class="item">
                        <div class="item-img">
                          <img [src]="prod.Icon.src" alt="" />
                          <div class="tr-add-cart">
                            <ul>
                                <li><a class="fa fa-shopping-cart tr_cart tr_text" (click)="this.cartService.Add(prod.id)"> 加進購物車 </a></li>
                                <li><a class="fa fa-search tr_search" (click)="NavToProducDetail(prod.id)"></a></li>
                                <!-- <li><a class="fa fa-search tr_search" [routerLink]="[ '/product-detail',prod.id]" routerLinkActive="active"></a></li> -->
                            </ul>
                          </div>
                        </div>
                        <div class="item-new">
                            <p>New</p>
                            <ng-container *ngIf="prod.discount > 0">
                               <span>{{prod.discount}}%</span>
                            </ng-container>
                        </div>
                        <div class="item-sub">
                            <a (click)="NavToProducDetail(prod.id)"><h5>{{prod.NAME}} </h5></a>
                          <!-- <a [routerLink]="[ '/product-detail',prod.id]" routerLinkActive="active"><h5>{{prod.NAME}} </h5></a> -->
                          <p>$ {{ this.categoryService.MathRound(prod.price/100*prod.discount) }}
                              <ng-container *ngIf="prod.discount > 0">
                                  <span><del>$ {{ prod.price }}</del></span>
                              </ng-container>
                          </p>
                        </div>
                    </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
