<div class="filter_area">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-8 col-xs-12">
        <div class="filter_box_left">
          <p>FILTERING:</p>
          <div class="filter_cont">
            <ul>
              <li><a href="category/filter">on</a></li>
              <li><img src="images/filter_ico_off.png" alt="" /></li>
              <li><a href="category/general">off</a></li>
            </ul>
          </div>
          <div class="s_results">
            <p><span>|</span> showing 1-12 of 30 results</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-4 col-xs-12">
        <div class="filter_box_right">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">sort by newness <span class="caret"></span></a>
            <ul class="dropdown-menu">
            <li><a href="#">Category 1-1</a></li>
            <li><a href="#">Category 1-2</a></li>
            <li><a href="#">Category 1-3</a></li>                        
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="main_category_area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="main_category_right cat-2">
          <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="main_cat_item">
                <div class="item">
                  <div class="item-img">
                    <img src="images/t_item13.jpg" alt="" />
                    <div class="tr-add-cart">
                      <ul>
                        <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                        <li><a class="tr_text" href="#">ADD TO CART</a></li>
                        <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                        <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="item-new">
                    <p>Sale</p>
                  </div>
                  <div class="item-sub">
                    <a href="product-detail.html"><h5>men’s fashion blue jean coat</h5></a>
                    <p>$ 130.00<span><del>$ 150.00</del></span></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="main_cat_item">
                <div class="item">
                  <div class="item-img">
                    <img src="images/t_item1.jpg" alt="" />
                    <div class="tr-add-cart">
                      <ul>
                        <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                        <li><a class="tr_text" href="#">ADD TO CART</a></li>
                        <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                        <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="item-new">
                    <p>New</p>
                    <span>-10%</span>
                  </div>
                  <div class="item-sub">
                    <a href="product-detail.html"><h5>casual fashion wool coat</h5></a>
                    <p>$ 90.00<span><del>$ 100.00</del></span></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="main_cat_item">
                <div class="item">
                  <div class="item-img">
                    <img src="images/t_item2.jpg" alt="" />
                    <div class="tr-add-cart">
                      <ul>
                        <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                        <li><a class="tr_text" href="#">ADD TO CART</a></li>
                        <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                        <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="item-new">
                    <p>New</p>
                  </div>
                  <div class="item-sub">
                    <a href="product-detail.html"><h5>v-neck men blue t-shirt </h5></a>
                    <p>$ 95.66</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="main_cat_item">
                <div class="item">
                  <div class="item-img">
                    <img src="images/t_item3.jpg" alt="" />
                    <div class="tr-add-cart">
                      <ul>
                        <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                        <li><a class="tr_text" href="#">ADD TO CART</a></li>
                        <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                        <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="item-new">
                    <p>New</p>
                  </div>
                  <div class="item-sub">
                    <a href="product-detail.html"><h5>gray shadow jean shirt</h5></a>
                    <p>$ 158.78</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="main_cat_item">
                <div class="item">
                  <div class="item-img">
                    <img src="images/t_item14.jpg" alt="" />
                    <div class="tr-add-cart">
                      <ul>
                        <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                        <li><a class="tr_text" href="#">ADD TO CART</a></li>
                        <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                        <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="item-new">
                    <p>New</p>
                  </div>
                  <div class="item-sub">
                    <a href="product-detail.html"><h5>houndsmooth wool t-shirt</h5></a>
                    <p>$ 168.00<span><del>$ 212.00</del></span></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="main_cat_item">
                <div class="item">
                  <div class="item-img">
                    <img src="images/t_item5.jpg" alt="" />
                    <div class="tr-add-cart">
                      <ul>
                        <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                        <li><a class="tr_text" href="#">ADD TO CART</a></li>
                        <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                        <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="item-new">
                    <p>New</p>
                  </div>
                  <div class="item-sub">
                    <a href="product-detail.html"><h5>AROS SLIM HEAVY CHINO</h5></a>
                    <p>$ 181.00<span><del>$ 212.00</del></span></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="main_cat_item">
                <div class="item">
                  <div class="item-img">
                    <img src="images/t_item6.jpg" alt="" />
                    <div class="tr-add-cart">
                      <ul>
                        <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                        <li><a class="tr_text" href="#">ADD TO CART</a></li>
                        <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                        <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="item-new">
                    <p>New</p>
                    <span>-10%</span>
                  </div>
                  <div class="item-sub">
                    <a href="product-detail.html"><h5>volv checked casual shirt</h5></a>
                    <p>$ 95.66</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="main_cat_item">
                <div class="item">
                  <div class="item-img">
                    <img src="images/t_item7.jpg" alt="" />
                    <div class="tr-add-cart">
                      <ul>
                        <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                        <li><a class="tr_text" href="#">ADD TO CART</a></li>
                        <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                        <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="item-new">
                    <p>New</p>
                  </div>
                  <div class="item-sub">
                    <a href="product-detail.html"><h5>yellow Clover Robe Jacket</h5></a>
                    <p>$90.00</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="main_cat_item">
                <div class="item">
                  <div class="item-img">
                    <img src="images/t_item15.jpg" alt="" />
                    <div class="tr-add-cart">
                      <ul>
                        <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                        <li><a class="tr_text" href="#">ADD TO CART</a></li>
                        <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                        <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="item-new">
                    <p>New</p>
                    <span>-20%</span>
                  </div>
                  <div class="item-sub">
                    <a href="product-detail.html"><h5>structured collarless coat</h5></a>
                    <p>$ 133.20<span><del>$ 148.00</del></span></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="main_cat_item">
                <div class="item">
                  <div class="item-img">
                    <img src="images/t_item8.jpg" alt="" />
                    <div class="tr-add-cart">
                      <ul>
                        <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                        <li><a class="tr_text" href="#">ADD TO CART</a></li>
                        <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                        <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="item-new">
                    <p>New</p>
                  </div>
                  <div class="item-sub">
                    <a href="product-detail.html"><h5>super Clover Robe Jacket</h5></a>
                    <p>$ 124.22<span><del>$ 248.44</del></span></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="main_cat_item">
                <div class="item">
                  <div class="item-img">
                    <img src="images/t_item9.jpg" alt="" />
                    <div class="tr-add-cart">
                      <ul>
                        <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                        <li><a class="tr_text" href="#">ADD TO CART</a></li>
                        <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                        <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="item-new">
                    <p>New</p>
                    <span>-50%</span>
                  </div>
                  <div class="item-sub">
                    <a href="product-detail.html"><h5>full hand animal jacket</h5></a>
                    <p>$ 100.00</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="main_cat_item">
                <div class="item">
                  <div class="item-img">
                    <img src="images/t_item10.jpg" alt="" />
                    <div class="tr-add-cart">
                      <ul>
                        <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                        <li><a class="tr_text" href="#">ADD TO CART</a></li>
                        <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                        <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="item-new">
                    <p>Sale</p>
                  </div>
                  <div class="item-sub">
                    <a href="product-detail.html"><h5>men’s fashion blue jean coat</h5></a>
                    <p>$ 130.00<span><del>$ 150.00</del></span></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="main_cat_item">
                <div class="item">
                  <div class="item-img">
                    <img src="images/t_item16.jpg" alt="" />
                    <div class="tr-add-cart">
                      <ul>
                        <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                        <li><a class="tr_text" href="#">ADD TO CART</a></li>
                        <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                        <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="item-new">
                    <p>New</p>
                  </div>
                  <div class="item-sub">
                    <a href="product-detail.html"><h5>AROS SLIM HEAVY CHINO</h5></a>
                    <p>$ 181.00<span><del>$ 212.00</del></span></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="main_cat_item">
                <div class="item">
                  <div class="item-img">
                    <img src="images/t_item4.jpg" alt="" />
                    <div class="tr-add-cart">
                      <ul>
                        <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                        <li><a class="tr_text" href="#">ADD TO CART</a></li>
                        <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                        <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="item-new">
                    <p>Sale</p>
                  </div>
                  <div class="item-sub">
                    <a href="product-detail.html"><h5>black men leather coat</h5></a>
                    <p>$ 160.00<span><del>$ 200.00</del></span></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="main_cat_item">
                <div class="item">
                  <div class="item-img">
                    <img src="images/t_item11.jpg" alt="" />
                    <div class="tr-add-cart">
                      <ul>
                        <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                        <li><a class="tr_text" href="#">ADD TO CART</a></li>
                        <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                        <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="item-new">
                    <p>New</p>
                  </div>
                  <div class="item-sub">
                    <a href="product-detail.html"><h5>houndsmooth wool t-shirt</h5></a>
                    <p>$ 168.00<span><del>$ 212.00</del></span></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="main_cat_item">
                <div class="item">
                  <div class="item-img">
                    <img src="images/t_item12.jpg" alt="" />
                    <div class="tr-add-cart">
                      <ul>
                        <li><a class="fa fa-shopping-cart tr_cart" href="#"></a></li>
                        <li><a class="tr_text" href="#">ADD TO CART</a></li>
                        <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                        <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="item-new">
                    <p>New</p>
                    <span>-20%</span>
                  </div>
                  <div class="item-sub">
                    <a href="product-detail.html"><h5>structured collarless coat</h5></a>
                    <p>$ 133.20<span><del>$ 148.00</del></span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="pagi_line"></div>
              <div class="pagi_ul">
                <ul id="pagination">
                  <li><a href="">Previous</a></li>
                  <li><a href="">1</a></li>
                  <li><a href="">2</a></li>
                  <li><a href="">3</a></li>
                  <li><a href="">4</a></li>
                  <li><a href="">5 ...</a></li>
                  <li><a href="">Next</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>