.button {
  width: 20px;
  height: 20px;
  outline:none;
}

.quantity {
  width: 25px;
  height: 20px;
  text-align: right;
  padding-right: 3px;

}

.buttonPlus {
  background-image: url("../../assets/icon/addButton.png");
  background-size: cover;
  background-color: inherit;
  border: 0px;
  width: 20px;
  height: 20px;
}

.buttonMinus {
  background-image: url("../../assets/icon/minusButton.png");
  background-size: cover;
  background-color: inherit;
  border: 0px;
  width: 20px;
  height: 20px;
}

.buttonDelete {
  background-image: url("../../assets/icon/deleteButton.png");
  background-size: cover;
  background-color: inherit;
  border: 0px;
  width: 20px;
  height: 20px;
}

.cartUpdate {
  background: none repeat scroll 0 0 #ffb923;
  border: 2px solid #ffb923;
  color: #fff;
  display: block;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 10px;
  padding: 7px;
  text-align: center;
  text-transform: uppercase;
}
.SELPAGE {
  background-color: rgb(255, 103, 102);
  border: 1px;
  border-radius: 50%;
  transition: all 0.5s ease 0s;
}
.attr_icon {
  color: black;
  display: inline-block;
  width: 50px;
  padding: 1px 0px;
  /* height: 17px; */
  text-align: center;
  font-size: 15px;
  background-color: transparent;
  border: 2px;
  border-style: solid;
  border-radius: 8px;
  margin: 0px 1px;
}
