<!-- <div class="breadcumb_area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="bread_box">
          <ul class="breadcumb">
            <li><a [routerLink]="['/']" routerLinkActive="router-link-active" >home <span>|</span></a></li>
            <li><a [routerLink]="['/category']" routerLinkActive="router-link-active" >Shop <span>|</span></a></li>
            <li class="active"><a href="">cart</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> -->

<section class="main_cart_area">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="main_cart_left">
          <div class="cart_heading">
            <div class="h_item1" style="width: 43%">
              <p>商品</p>
            </div>
            <div class="h_item2" style="width: 21%">
              <p>價格</p>
            </div>
            <div class="h_item3" style="width: 22%">
              <p>數量</p>
            </div>
            <div class="h_item4" style="width: 10%">
              <p>總額</p>
            </div>
          </div>


          <!-- For 出所有商品 -->
          <ng-container *ngFor="let order of this.CartData|slice : indexS :indexE; let i = index">
            <div class="floatleft" style="margin-top: 73px;">
              <button class="buttonDelete button" (click)="CartRemove(i)"></button>
            </div>
            <div class="cart_item">
              <div class="cart_item_img">
                <img [src]="order.imageLoc" alt="" style="height: auto; width: 100px; margin-left: 20px;" />
                <!-- <div class="floatleft" (click)="CartRemove(i)"><img src="images/close.png" alt="" /></div> -->
                <p>{{ order.monster.NAME }}<br>
                  特性:
                  <!-- <ng-container *ngFor="let character of order.product.characteristics">
                    [{{ character }}]
                  </ng-container> -->
                </p>
              </div>
              <div class="cart_price">
                <p>${{ order.monster.price }}</p>
              </div>
              <div class="cart_quantity">
                <ul>
                  <li><button class="buttonMinus button" (click)="minusClick(i)"></button></li>
                  <li><input type="text" class="quantity" [(ngModel)]=order.amount></li>
                  <li><button class="buttonPlus button" (click)="plusClick(i)"></button></li>
                </ul>
              </div>
              <div class="cart_total">
                <p>${{ order.total }}</p>
                <span><i class="fa fa-close"></i></span>
              </div>
            </div>
          </ng-container>

          <!-- Todo: 優惠碼 -->
          <!-- <div class="coupon_box">
            <input type="text" placeholder="coupon code" />
            <input type="submit" value="apply coupon">
          </div> -->
        </div>
      </div>

      <!-- rightSide -->
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="main_cart_right">
          <div class="product_form_total">

            <div class="panel-group" id="home-accordion" role="tablist" aria-multiselectable="true">

              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    <p class="collapsed" data-toggle="collapse" data-parent="#home-accordion" href="#collapseTwo"
                      aria-expanded="false" aria-controls="collapseTwo">
                      我的購物車
                      <span class="floatright"><button [ngClass]="{button: true,buttonMinus: CartTotalCtrl === true ,buttonPlus: CartTotalCtrl === false }"
                          ></button></span>
                    </p>
                  </h4>
                </div>
                <div *ngIf="CartTotalCtrl === true" id="collapseTwo" class="panel-collapse collapse in" role="tabpanel"
                  aria-labelledby="headingTwo">
                  <div class="panel-body cart_p_body">
                    <div class="c_single_item">
                      <p>商品項目</p>
                      <span>共{{this.Cart.length}}項</span>
                    </div>
                    <div class="c_single_item sp_single_item">
                      <p>商品數量</p>
                      <span>共{{amountTotal}}件</span>
                    </div>
                    <div class="c_single_item">
                      <p>小記</p>
                      <span>${{subTotal}}</span>
                    </div>
                    <div class="c_single_item cart_last_total">
                      <p>運費</p>
                      <span>{{shippingCharge}}</span>
                    </div>
                    <div class="c_total_item sp_single_item">
                      <p>總共</p>
                      <span>${{total}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <input type="submit" [routerLink]="['/checkout']" routerLinkActive="router-link-active"  value="Yeah Yeah 結帳囉">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9 col-sm-9 col-xs-12">
          <div class="pagi_line"></div>
          <div class="pagi_ul">
            <ul id="pagination">

              <li><a (click)="prevPage()">前一頁</a></li>
              <ng-container *ngFor="let item of CreatePageIndex(pageMax);">
                <li><a (click)="Page(item)">{{item}}</a></li>
              </ng-container>
              <li><a (click)="nextPage()">後一頁</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
