<!-- <div class="breadcumb_area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="bread_box">
          <ul class="breadcumb">
            <li><a [routerLink]="['/']" routerLinkActive="router-link-active" >home <span>|</span></a></li>
            <li><a [routerLink]="['/category']" routerLinkActive="router-link-active" >Shop <span>|</span></a></li>
            <li class="active"><a href="">cart</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> -->

<section class="main_cart_area">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="main_cart_left">
          <div class="cart_heading">
            <div class="h_item1">
              <p>product</p>
            </div>
            <div class="h_item2">
              <p>Price</p>
            </div>
            <div class="h_item3">
              <p>Quantity</p>
            </div>
            <div class="h_item4">
              <p>Total</p>
            </div>
          </div>


          <!-- For 出所有商品 -->
          <ng-container *ngFor="let order of this.Cart; let i = index">
            <div class="cart_item">
              <div class="cart_item_img">
                <!-- <img [src]="order.product.imageLoc" alt="" /> -->
                <!-- <div class="floatleft" (click)="productDataBase.CartRemove(i)"><img src="images/close.png" alt="" /></div> -->
                <p>{{ order.product.name }}<br>
                  <ng-container *ngFor="let character of order.product.characteristics">
                    [{{ character }}]
                  </ng-container>
                </p>
              </div>
              <div class="cart_price">
                <p>${{ order.finalPrice }}</p>
              </div>
              <div class="cart_quantity">
                <ul>
                  <li><button class="buttonMinus button" (click)="minusClick(i)"></button></li>
                  <li><input type="text" class="quantity" [(ngModel)]=order.amount></li>
                  <li><button class="buttonPlus button" (click)="plusClick(i)"></button></li>
                </ul>
              </div>
              <div class="cart_total">
                <p>${{ order.total }}</p>
                <span><i class="fa fa-close"></i></span>
              </div>
            </div>
          </ng-container>

          <!-- 代購商品 -->
          <!-- <div class="cart_item">
            <div class="cart_item_img">
              <img src="images/cart_img1.jpg" alt="" />
              <p>blue denim casual <br>shirt</p>
            </div>
            <div class="cart_price">
              <p>${{price1}}</p>
            </div>
            <div class="cart_quantity">
              <ul>
                <li><button class="buttonMinus button" (click)="minusClick(1)"></button></li>
                <li><input type="text" class="quantity" [(ngModel)]="quantity1"></li>
                <li><button class="buttonPlus button" (click)="plusClick(1)"></button></li>
              </ul>
            </div>
            <div class="cart_total">
              <p>${{total1}}</p>
              <span><i class="fa fa-close"></i></span>
            </div>
          </div>
          <div class="cart_item">
            <div class="cart_item_img">
              <img src="images/cart_img2.jpg" alt="" />
              <p>structured collarless <br>coat</p>
            </div>
            <div class="cart_price">
              <p>${{price2}}</p>
            </div>
            <div class="cart_quantity">
              <ul>
                <li><button class="buttonMinus button" (click)="minusClick(2)"></button></li>
                <li><input type="text" class="quantity" [(ngModel)]="quantity2"></li>
                <li><button class="buttonPlus button" (click)="plusClick(2)"></button></li>
              </ul>
            </div>
            <div class="cart_total">
              <p>${{total2}}</p>
              <span><i class="fa fa-close"></i></span>
            </div>
          </div>
          <div class="cart_item">
            <div class="cart_item_img">
              <img src="images/cart_img3.jpg" alt="" />
              <p>houndsmooth wool <br>t-shirt</p>
            </div>
            <div class="cart_price">
              <p>${{price3}}</p>
            </div>
            <div class="cart_quantity">
              <ul>
                <li><button class="buttonMinus button" (click)="minusClick(3)"></button></li>
                <li><input type="text" class="quantity" [(ngModel)]="quantity3"></li>
                <li><button class="buttonPlus button" (click)="plusClick(3)"></button></li>
              </ul>
            </div>
            <div class="cart_total">
              <p>${{total3}}</p>
              <span><i class="fa fa-close"></i></span>
            </div>
          </div>
          <div class="cart_item">
            <div class="cart_item_img">
              <img src="images/cart_img4.jpg" alt="" />
              <p>men’s fashion blue <br>jean coat</p>
            </div>
            <div class="cart_price">
              <p>${{price4}}</p>
            </div>
            <div class="cart_quantity">
              <ul>
                <li><button class="buttonMinus button" (click)="minusClick(4)"></button></li>
                <li><input type="text" class="quantity" [(ngModel)]="quantity4"></li>
                <li><button class="buttonPlus button" (click)="plusClick(4)"></button></li>
              </ul>
            </div>
            <div class="cart_total">
              <p>${{total4}}</p>
              <span><i class="fa fa-close"></i></span>
            </div>
          </div> -->
          <!-- 代購商品 ↑-->

          <div class="coupon_box">
            <input type="text" placeholder="coupon code" />
            <input type="submit" value="apply coupon">
          </div>
        </div>
      </div>

      <!-- rightSide -->
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="main_cart_right">
          <div class="product_form_total">

            <div class="panel-group" id="home-accordion" role="tablist" aria-multiselectable="true">

              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    <p class="collapsed" data-toggle="collapse" data-parent="#home-accordion" href="#collapseTwo"
                      aria-expanded="false" aria-controls="collapseTwo">
                      Cart totals
                      <span class="floatright"><button [ngClass]="{button: true,buttonMinus: CartTotalCtrl === true ,buttonPlus: CartTotalCtrl === false }"
                          ></button></span>
                    </p>
                  </h4>
                </div>
                <div *ngIf="CartTotalCtrl === true" id="collapseTwo" class="panel-collapse collapse in" role="tabpanel"
                  aria-labelledby="headingTwo">
                  <div class="panel-body cart_p_body">
                    <div class="c_single_item">
                      <p>SubTotal</p>
                      <span>${{subTotal}}</span>
                    </div>
                    <div class="c_single_item cart_last_total">
                      <p>Shipping Charge</p>
                      <span>{{shippingCharge}}</span>
                    </div>
                    <div class="c_total_item sp_single_item">
                      <p>Total</p>
                      <span>${{total}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <input type="submit" class="cartUpdate" (click)="updateCart()" value="Update Cart"> -->
            <input type="submit" [routerLink]="['/checkout']" routerLinkActive="router-link-active"  value="Proceed to checkout">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
