<div class="breadcumb_area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="bread_box">
          <ul class="breadcumb">
            <li><a href="index.html">home <span>|</span></a></li>
            <li><a href="">Shop <span>|</span></a></li>
            <li class="active"><a href="">cart</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="main_cart_area">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="main_cart_left">
          <div class="cart_heading">
            <div class="h_item1">
              <p>product</p>
            </div>
            <div class="h_item2">
              <p>Price</p>
            </div>
            <div class="h_item3">
              <p>Quantity</p>
            </div>
            <div class="h_item4">
              <p>total</p>
            </div>
          </div>
          <ng-container *ngFor="let item of items let index = index">
          <!-- 代購商品 -->
          <div class="cart_item">
            <div class="cart_item_img">
              <img src={{item.img}} alt="" style="width: 70px"/>
              <p>{{item.name}}</p>
            </div>
            <div class="cart_price">
              <p>${{item.price}}</p>
            </div>
            <div class="cart_quantity">
              <ul>
                <li><button class="buttonMinus button" (click)="minusClick(index)"></button></li>
                <li><input type="text" class="quantity" [(ngModel)]="item.quantity"></li>
                <li><button class="buttonPlus button" (click)="plusClick(index)"></button></li>
              </ul>
            </div>
            <div class="cart_total">
              <p>${{item.cost}}</p>
              <span><i class="fa fa-close"></i></span>
            </div>
          </div>
          <!-- 代購商品 ↑-->
          </ng-container>

          <div class="coupon_box">
            <input type="text" placeholder="coupon code" />
            <input type="submit" value="apply coupon">
          </div>
        </div>
      </div>

      <!-- rightSide -->
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="main_cart_right">
          <div class="product_form_total">

            <div class="panel-group" id="home-accordion" role="tablist" aria-multiselectable="true">

              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    <p class="collapsed" data-toggle="collapse" data-parent="#home-accordion" href="#collapseTwo"
                      aria-expanded="false" aria-controls="collapseTwo">
                      Cart totals
                      <span class="floatright"><button [ngClass]="{button: true,buttonMinus: CartTotalCtrl === true ,buttonPlus: CartTotalCtrl === false }"
                          ></button></span>
                    </p>
                  </h4>
                </div>
                <div *ngIf="CartTotalCtrl === true" id="collapseTwo" class="panel-collapse collapse in" role="tabpanel"
                  aria-labelledby="headingTwo">
                  <div class="panel-body cart_p_body">
                    <div class="c_single_item">
                      <p>SubTotal</p>
                      <span>${{subTotal}}</span>
                    </div>
                    <div class="c_single_item cart_last_total">
                      <p>Shipping Charge</p>
                      <span>{{shippingCharge}}</span>
                    </div>
                    <div class="c_total_item sp_single_item">
                      <p>Total</p>
                      <span>${{total}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <input type="submit" class="cartUpdate" (click)="updateCart()" value="Update Cart">
            <input type="submit" value="Proceed to checkout">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
