<!-- 提醒: 更改這邊的內容時, 底下給 Mobile 裝置看的內容也要對應更改 -->
<section class="nav_area">
  <div class="container">
    <div class="nav_left floatleft" (mouseenter)="hover = hover + 1;" (mouseleave)="hover = hover - 1;">
      <a [routerLink]="['/category']" routerLinkActive="router-link-active" >商品分類<i class="fa fa-bars"></i></a>
      <div class="cat_mega_menu" [ngClass]="{'cat_mega_menu_hover': hover > 0}" (mouseenter)="hover = hover + 1;" (mouseleave)="hover = hover - 1">
          <div class="cat_left">
            <h5>神奇寶貝</h5>
            <div class="cat_menu_line"></div>
            <ul class="cat_nav">
              <ng-container *ngFor="let attribute of attributes; let index = index">
                <ng-container *ngIf="index < maxCategoryNum">
                  <li><a (click)="categoryService.Display([attribute.NAME])">{{ attribute.NAME }}系神奇寶貝</a></li>
                </ng-container>
              </ng-container>
              <!-- <li><a (click)="categoryService.Display(['水'])">水系神奇寶貝</a></li>
              <li><a (click)="categoryService.Display(['火'])">火系神奇寶貝</a></li>
              <li><a (click)="categoryService.Display(['電'])">電系神奇寶貝</a></li>
              <li><a (click)="categoryService.Display(['草'])">草系神奇寶貝</a></li>
              <li><a (click)="categoryService.Display(['冰'])">冰系神奇寶貝</a></li>
              <li><a (click)="categoryService.Display(['一般'])">一般系神奇寶貝</a></li>
              <li><a (click)="categoryService.Display(['資工'])">資工系神奇寶貝</a></li> -->
            </ul>
          </div>
          <!-- <div class="cat_middle"> -->
            <!-- Todo: 賣更多不同性質的東西 -->
            <!-- 根據 https://wiki.52poke.com/wiki/%E9%81%93%E5%85%B7 -->
            <!-- <h5>道具</h5>
            <div class="cat_menu_line"></div>
            <ul class="cat_nav">
              <li><a></a></li>
              <li><a>精靈球</a></li>
              <li><a>果實</a></li>
              <li><a>攜帶物品</a></li>
              <li><a>狀態治療道具</a></li>
            </ul> -->
          <!-- </div> -->
          <!-- 幹 想不到還有什麼分類了 -->
          <!-- <div class="cat_middle_right">
            <h5>trousers fit</h5>
            <div class="cat_menu_line"></div>
            <ul class="cat_nav">
              <li><a>flexible waist</a></li>
              <li><a>regular fit</a></li>
              <li><a>slim fit</a></li>
              <li><a>tailored fit</a></li>
              <li><a>tight fit</a></li>
            </ul>
          </div> -->
          <div class="cat_img">
            <img src="assets/images/menu_cat.png" alt="" />
          </div>
      </div>
    </div>
    <div class="nav_center">
      <nav class="mainmenu">
        <ul id="nav">
          <li [ngClass]="{'current-page-item': navService.currentPage === 'index'}"><a [routerLink]="['/']" routerLinkActive="router-link-active">首頁</a>
            <!-- <ul id="sub-menu4">
              <li><a href="index-2.html">Home Version Two</a></li>
            </ul> -->
          </li>
          <li [ngClass]="{'current-page-item': navService.currentPage === 'category'}"><a [routerLink]="['/category']" routerLinkActive="router-link-active">商品列表</a>
            <!-- <ul id="sub-menu7">
              <li><a [routerLink]="['/product-detail']" routerLinkActive="router-link-active" >Product Detail Page</a></li>
            </ul> -->
          </li>
          <!-- <li><a [routerLink]="['/category']" routerLinkActive="router-link-active" >accessories</a>
            <ul id="sub-menu">
              <li><a>check shirts</a></li>
              <li><a>denim shirts</a></li>
              <li><a>long sleeve shirts</a></li>
              <li><a>plain shirts</a></li>
              <li><a>printed shirts</a></li>
              <li><a>short sleeve shirts</a></li>
              <li class="last-child"><a>shortsleeve denim shirts</a></li>
            </ul>
          </li> -->

          <!-- Todo: 會員系統頁面 -->

          <!-- Todo: 客服頁面 -->

          <!-- 測試用, 最終版本要拔掉  -->
          <li><a>所有頁面</a>
            <ul id="sub-menu5">
              <li><a [routerLink]="['/category']" routerLinkActive="router-link-active" >商品列表</a></li>
              <li><a [routerLink]="['/checkout']" routerLinkActive="router-link-active" >結帳</a></li>
              <li><a [routerLink]="['/cart']" routerLinkActive="router-link-active" >購物車</a></li>
              <!-- Todo: 客服 -->
              <!-- <li><a [routerLink]="['/contact']" routerLinkActive="router-link-active" >聯絡我們</a></li> -->
              <li><a [routerLink]="['/404']" routerLinkActive="router-link-active" >404</a></li>
            </ul>
          </li>

          <!-- 停用 Blog -->
          <!-- <li><a [routerLink]="['/blog']" routerLinkActive="router-link-active" >Blog</a></li> -->
        </ul>
      </nav>
    </div>
    <div class="nav_right floatright">
      <ng-container *ngIf="authService.LoggedIn()">
        <a [routerLink]="['/cart']" routerLinkActive="router-link-active" ><img src="assets/images/bag.png" alt="Bag" (click)="test()" />購物車: {{cartService.cart.length}} 項</a>
        <div class="cart_menu">
          <ng-container *ngFor="let item of cartService.cart; let index = index">
          <ng-container *ngIf="index < maxShowNum">
            <div class="cart_items">
              <div class="c_item_img floatleft">
                <a [routerLink]="['/product-detail', item.ProductId]" routerLinkActive="router-link-active" ><img [src]="item.Icon.src" alt="" /></a>
              </div>
              <div class="c_item_totals floatleft">
                <div class="c_item_totals_detail floatleft">
                  <a [routerLink]="['/product-detail/', item.ProductId]" routerLinkActive="router-link-active" ><h5>{{ item.NAME }}</h5></a>
                  <span>數量: {{ item.Count }}</span>
                  <span>單價: {{ item.Price }}$</span>
                  <span>總額: {{ item.Count * item.Price }}$</span>
                </div>
                <div class="close_icon_cart floatleft" (click)="Remove(item.ProductId, index)">
                  <img src="assets/images/close.png" alt="" />
                </div>
              </div>
            </div>
          </ng-container>
          </ng-container>
          <div class="cart_totals">
          <!-- Todo: 運費機制 -->
          <div class="c_totals_left floatleft">
            <p>免運費</p>
          </div>
          <div class="c_totals_right floatleft">
            <p>總額: ${{cartService.totalPrice}}</p>
          </div>
          </div>
          <div class="cart_view_bottom">
          <div class="c_totals_left floatleft">
            <a [routerLink]="['/cart']" routerLinkActive="router-link-active" >檢視</a>
          </div>
          <div class="c_totals_left floatleft">
            <a (click)="cartService.ForceUpdate()" style="cursor: pointer;" >儲存</a>
          </div>
          <div class="c_totals_right floatleft" style="width: 100%">
            <a [routerLink]="['/checkout']" routerLinkActive="router-link-active" >結帳</a>
          </div>
          </div>
        </div>
      </ng-container>
    </div>


    <!-- MOBILE ONLY CONTENT -->
    <div class="only-for-mobile">
      <ul class="ofm">
        <li class="m_nav"><i class="fa fa-bars"></i> Navigation</li>
      </ul>

      <!-- MOBILE MENU -->
      <div class="mobi-menu">
        <div id='cssmenu'>
          <ul>
            <li class='has-sub'>
              <a [routerLink]="['/']" routerLinkActive="router-link-active" ><span>首頁</span></a>
              <!-- <ul class="sub-nav">
                <li><a href="index.html"><span>Home 1</span></a></li>
                <li><a href="index-2.html"><span>Home 2</span></a></li>
              </ul> -->
            </li>

            <li class='has-sub'>
              <a [routerLink]="['/category']" routerLinkActive="router-link-active" ><span>商品分類</span></a>
              <ul>
                <li class='has-sub'>
                  <a><span>神奇寶貝</span></a>
                  <ul>
                    <li><a><span>水系神奇寶貝</span></a></li>
                    <li><a><span>火系神奇寶貝</span></a></li>
                    <li><a><span>電系神奇寶貝</span></a></li>
                    <li><a><span>草系神奇寶貝</span></a></li>
                    <li><a><span>冰系神奇寶貝</span></a></li>
                    <li class="last"><a><span>一般系神奇寶貝</span></a></li>
                  </ul>
                </li>
                <!-- Todo: 賣更多不同性質的東西 -->
                <!-- <li class='has-sub'>
                  <a><span>道具</span></a>
                  <ul>
                    <li><a><span>精靈球</span></a></li>
                    <li><a><span>果實</span></a></li>
                    <li><a><span>攜帶物品</span></a></li>
                    <li class='last'><a><span>狀態治療道具</span></a></li>
                  </ul>
                </li> -->
                <!-- <li class='has-sub'>
                  <a><span>trousers fit</span></a>
                  <ul>
                    <li><a><span>flexible waist</span></a></li>
                    <li><a><span>regular fit</span></a></li>
                    <li><a><span>slim fit</span></a></li>
                    <li><a><span>tailored fit</span></a></li>
                    <li class='last'><a><span>tight fit</span></a></li>
                  </ul>
                </li> -->
                <li class="img-nav">
                  <div class="container">
                    <div class="clearfix"></div>
                    <div class="space20"></div>
                    <div class="clearfix"></div>
                    <div class="row in1">
                      <div class="col-md-6">
                        <a><img src="assets/images/menu_cat.png" class="img-responsive" alt=""/></a>
                      </div>
                      <div class="col-md-6">
                      </div>
                      <div class="clearfix"></div>
                      <div class="space20"></div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="space20"></div>
                    <div class="clearfix"></div>
                  </div>
                </li>
              </ul>
            </li>
            <li class='has-sub'>
              <a [routerLink]="['/category']" routerLinkActive="router-link-active" ><span>商品列表</span></a>
              <ul class="sub-nav">
                <li><a></a></li>
                <li><a></a></li>
              </ul>
            </li>
            <!-- <li class='has-sub'>
              <a [routerLink]="['/category']" routerLinkActive="router-link-active" ><span>accessories</span></a>
              <ul class="sub-nav">
                <li><a><span>check shirts</span></a></li>
                <li><a><span>denim shirts</span></a></li>
                <li><a><span>long sleeve shirts</span></a></li>
                <li><a><span>plain shirts</span></a></li>
                <li><a><span>printed shirts</span></a></li>
                <li><a><span>short sleeve shirts</span></a></li>
                <li><a><span>shortsleeve denim shirts</span></a></li>
              </ul>
            </li> -->
            <li class='has-sub'>
              <a><span>所有頁面</span></a>
              <ul id="sub-nav">
                <li><a [routerLink]="['/category']" routerLinkActive="router-link-active" >商品列表</a></li>
                <li><a [routerLink]="['/checkout']" routerLinkActive="router-link-active" >結帳</a></li>
                <li><a [routerLink]="['/cart']" routerLinkActive="router-link-active" >購物車</a></li>
                <!-- <li><a [routerLink]="['/product-detail']" routerLinkActive="router-link-active" >Product detail page</a></li> -->
                <!-- <li><a [routerLink]="['/blog']" routerLinkActive="router-link-active" >Blog</a></li> -->
                <!-- <li><a [routerLink]="['/single-blog']" routerLinkActive="router-link-active" >Blog single</a></li> -->
                <!-- <li><a [routerLink]="['/contact']" routerLinkActive="router-link-active" >Contact page</a></li> -->
                <li><a [routerLink]="['/404']" routerLinkActive="router-link-active" >404</a></li>
              </ul>
            </li>
            <!-- <li>
              <a [routerLink]="['/blog']" routerLinkActive="router-link-active" ><span>Blog</span></a>
            </li> -->
            <li>
              <a [routerLink]="['/cart']" routerLinkActive="router-link-active" ><span>購物車</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- MOBILE ONLY CONTENT -->
  </div>
</section>
