<section class="t_to_b_slider_area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="t_to_b_slider">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="single_t_to_b_slider">
                <h3>featured items</h3>
                <div class="multi_line"></div>
                <div class="single_t_to_b">

                  <div class="slider8">
                    <div class="slide">
                    <div class="t_to_b_content">
                      <div class="t_to_b_img">
                        <img src="images/t_to1.png" alt="" />
                      </div>
                      <div class="t_to_b_text">
                        <a href="product-detail.html"><p>casual fashion wool <br>coat</p></a>
                        <div class="t_to_b_dollr"><span>$90.00</span></div>
                        <div class="t_to_b_del"><del>$100.00</del></div>
                      </div>
                    </div>
                    </div>
                    <div class="slide">
                    <div class="t_to_b_content">
                      <div class="t_to_b_img">
                        <img src="images/t_to2.png" alt="" />
                      </div>
                      <div class="t_to_b_text">
                        <a href="product-detail.html"><p>structured collarless <br>coat</p></a>
                        <div class="t_to_b_dollr"><span>$133.20</span></div>
                      </div>
                    </div>
                    </div>
                    <div class="slide">
                    <div class="t_to_b_content">
                      <div class="t_to_b_img">
                        <img src="images/t_to3.png" alt="" />
                      </div>
                      <div class="t_to_b_text">
                        <a href="product-detail.html"><p>super Clover Robe <br>Jacket</p></a>
                        <div class="t_to_b_dollr"><span>$124.22</span></div>
                        <div class="t_to_b_del"><del>$248.44</del></div>
                      </div>
                    </div>
                    </div>
                    <div class="slide">
                    <div class="t_to_b_content">
                      <div class="t_to_b_img">
                        <img src="images/t_to4.png" alt="" />
                      </div>
                      <div class="t_to_b_text">
                        <a href="product-detail.html"><p>casual fashion wool <br>coat</p></a>
                        <div class="t_to_b_dollr"><span>$90.00</span></div>
                        <div class="t_to_b_del"><del>$110.00</del></div>
                      </div>
                    </div>
                    </div>
                    <div class="slide">
                    <div class="t_to_b_content">
                      <div class="t_to_b_img">
                        <img src="images/t_to5.png" alt="" />
                      </div>
                      <div class="t_to_b_text">
                        <a href="product-detail.html"><p>casual fashion wool <br>coat</p></a>
                        <div class="t_to_b_dollr"><span>$170.00</span></div>
                        <div class="t_to_b_del"><del>$200.00</del></div>
                      </div>
                    </div>
                    </div>
                    <div class="slide">
                    <div class="t_to_b_content">
                      <div class="t_to_b_img">
                        <img src="images/t_to6.png" alt="" />
                      </div>
                      <div class="t_to_b_text">
                        <a href="product-detail.html"><p>super Clover Robe <br>Jacket</p></a>
                        <div class="t_to_b_dollr"><span>$180.00</span></div>
                        <div class="t_to_b_del"><del>$200.00</del></div>
                      </div>
                    </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="single_t_to_b_slider">
                <h3>special offer</h3>
                <div class="multi_line"></div>
                <div class="single_t_to_b">

                  <div class="slider9">
                    <div class="slide">
                    <div class="t_to_b_content">
                      <div class="t_to_b_img">
                        <img src="images/t_to4.png" alt="" />
                      </div>
                      <div class="t_to_b_text">
                        <a href="product-detail.html"><p>casual fashion wool <br>coat</p></a>
                        <div class="t_to_b_dollr"><span>$190.00</span></div>
                        <div class="t_to_b_del"><del>$210.00</del></div>
                      </div>
                    </div>
                    </div>
                    <div class="slide">
                    <div class="t_to_b_content">
                      <div class="t_to_b_img">
                        <img src="images/t_to5.png" alt="" />
                      </div>
                      <div class="t_to_b_text">
                        <a href="product-detail.html"><p>yellow Clover Robe <br>Jacket</p></a>
                        <div class="t_to_b_dollr"><span>$90.00</span></div>
                        <div class="t_to_b_del"><del>$100.00</del></div>
                      </div>
                    </div>
                    </div>
                    <div class="slide">
                    <div class="t_to_b_content">
                      <div class="t_to_b_img">
                        <img src="images/t_to8.png" alt="" />
                      </div>
                      <div class="t_to_b_text">
                        <a href="product-detail.html"><p>houndsmooth wool <br>t-shirt </p></a>
                        <div class="t_to_b_dollr"><span>$180.00</span></div>
                        <div class="t_to_b_del"><del>$212.00</del></div>
                      </div>
                    </div>
                    </div>
                    <div class="slide">
                    <div class="t_to_b_content">
                      <div class="t_to_b_img">
                        <img src="images/t_to1.png" alt="" />
                      </div>
                      <div class="t_to_b_text">
                        <a href="product-detail.html"><p>volv checked casual<br>shirt</p></a>
                        <div class="t_to_b_dollr"><span>$90.00</span></div>
                        <div class="t_to_b_del"><del>$100.00</del></div>
                      </div>
                    </div>
                    </div>
                    <div class="slide">
                    <div class="t_to_b_content">
                      <div class="t_to_b_img">
                        <img src="images/t_to3.png" alt="" />
                      </div>
                      <div class="t_to_b_text">
                        <a href="product-detail.html"><p>casual fashion wool <br>coat</p></a>
                        <div class="t_to_b_dollr"><span>$140.00</span></div>
                        <div class="t_to_b_del"><del>$150.00</del></div>
                      </div>
                    </div>
                    </div>
                    <div class="slide">
                    <div class="t_to_b_content">
                      <div class="t_to_b_img">
                        <img src="images/t_to9.png" alt="" />
                      </div>
                      <div class="t_to_b_text">
                        <a href="product-detail.html"><p>super Clover Robe <br>Jacket</p></a>
                        <div class="t_to_b_dollr"><span>$90.00</span></div>
                        <div class="t_to_b_del"><del>$110.00</del></div>
                      </div>
                    </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="single_t_to_b_slider">
                <h3>top seller</h3>
                <div class="multi_line"></div>
                <div class="single_t_to_b">

                  <div class="slider10">
                    <div class="slide">
                    <div class="t_to_b_content">
                      <div class="t_to_b_img">
                        <img src="images/t_to6.png" alt="" />
                      </div>
                      <div class="t_to_b_text">
                        <a href="product-detail.html"><p>men’s fashion blue jean<br>coat</p></a>
                        <div class="t_to_b_dollr"><span>$130.00</span></div>
                        <div class="t_to_b_del"><del>$150.00</del></div>
                      </div>
                    </div>
                    </div>
                    <div class="slide">
                    <div class="t_to_b_content">
                      <div class="t_to_b_img">
                        <img src="images/t_to9.png" alt="" />
                      </div>
                      <div class="t_to_b_text">
                        <a href="product-detail.html"><p>casual fashion wool <br>coat</p></a>
                        <div class="t_to_b_dollr"><span>$90.00</span></div>
                        <div class="t_to_b_del"><del>$100.00</del></div>
                      </div>
                    </div>
                    </div>
                    <div class="slide">
                    <div class="t_to_b_content">
                      <div class="t_to_b_img">
                        <img src="images/t_to7.png" alt="" />
                      </div>
                      <div class="t_to_b_text">
                        <a href="product-detail.html"><p>AROS SLIM HEAVY <br>CHINO</p></a>
                        <div class="t_to_b_dollr"><span>$181.00</span></div>
                        <div class="t_to_b_del"><del>$200.00</del></div>
                      </div>
                    </div>
                    </div>
                    <div class="slide">
                    <div class="t_to_b_content">
                      <div class="t_to_b_img">
                        <img src="images/t_to6.png" alt="" />
                      </div>
                      <div class="t_to_b_text">
                        <a href="product-detail.html"><p>casual fashion wool <br>coat</p></a>
                        <div class="t_to_b_dollr"><span>$100.00</span></div>
                        <div class="t_to_b_del"><del>$150.00</del></div>
                      </div>
                    </div>
                    </div>
                    <div class="slide">
                    <div class="t_to_b_content">
                      <div class="t_to_b_img">
                        <img src="images/t_to4.png" alt="" />
                      </div>
                      <div class="t_to_b_text">
                        <a href="product-detail.html"><p>casual fashion wool <br>coat</p></a>
                        <div class="t_to_b_dollr"><span>$40.00</span></div>
                        <div class="t_to_b_del"><del>$60.00</del></div>
                      </div>
                    </div>
                    </div>
                    <div class="slide">
                    <div class="t_to_b_content">
                      <div class="t_to_b_img">
                        <img src="images/t_to3.png" alt="" />
                      </div>
                      <div class="t_to_b_text">
                        <a href="product-detail.html"><p>super Clover Robe <br>Jacket</p></a>
                        <div class="t_to_b_dollr"><span>$90.00</span></div>
                        <div class="t_to_b_del"><del>$100.00</del></div>
                      </div>
                    </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
