<div class="call_to_action_area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="call_to_action">
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="single_call_action">
                <img src="images/phone.png" alt="" />
                <p>01 (800) 433 633<br>
                Daily 10.00 to 22.00</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="single_call_action">
                <img src="images/world.png" alt="" />
                <p>Fast delivery across <br>
                australia</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="single_call_action">
                <img src="images/discount.png" alt="" />
                <p>30% discount on order<br>
                over $199</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="single_call_action last_single_call">
                <img src="images/return.png" alt="" />
                <p>14-day return policy</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
