<div class="call_to_action_area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="call_to_action">
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="single_call_action">
                <img src="assets/images/phone.png" alt="" />
                <p>0916 123 456<br>
                從 10.00 到 22.00 為你服務</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="single_call_action">
                <img src="assets/images/world.png" alt="" />
                <p>最快送到你家<br>
                真的。快</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="single_call_action">
                <img src="assets/images/discount.png" alt="" />
                <p>超多折扣送給你<br>
                送到我們家當都快沒了</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="single_call_action last_single_call">
                <img src="assets/images/return.png" alt="" />
                <p>13天 退貨政策 別怕不喜歡</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
