<!-- Slider -->
<app-slider-wrap></app-slider-wrap>

<!-- 裝飾 -->
<app-call-to-action-area></app-call-to-action-area>

<!-- 大塊分類 -->
<app-promotion-area></app-promotion-area>

<!-- 排行榜 1 -->
<app-trending-area></app-trending-area>

<!-- 排行榜 2 -->
<!-- <app-t-to-b-slider-area></app-t-to-b-slider-area> -->

<!-- 棄用: 跟 blog 有關 -->
<!-- <app-fresh-blog-area></app-fresh-blog-area> -->

<!-- Todo: 客戶留言系統 -->
<!-- <app-testimonial-area></app-testimonial-area> -->

<!-- 棄用: 此區沒功能 -->
<!-- <app-branding-area></app-branding-area> -->
