<!-- HOME SLIDER -->
<div class="slider-wrap">
  <div class="fullwidthbanner-container" >
    <div class="fullwidthbanner">
      <ul>
        <li data-transition="random" data-slotamount="7" data-masterspeed="1000">
          <img src="images/slider-temp.jpg" alt="slide" >

          <div class="tp-caption large_black sfr" data-x="120" data-y="140" data-speed="1100" data-start="1100" data-easing="easeInOutBack"
            style="font-size: 95px; font-weight: normal; text-transform: inherit; color: #ff6766;font-family: manustrialmanustrial;font-style:italic;text-shadow:0px 0px 3px #000;">
            Summer
          </div>
          <div class="tp-caption large_black sfr" data-x="120" data-y="230" data-speed="1100" data-start="1400" data-easing="easeInOutBack"
            style="font-family: 'Montserrat', sans-serif; font-size: 68px; font-weight: 700; line-height:80px;text-transform: uppercase; color: #232323; text-shadow: 0 0 3px #fff">
            20015 collection
          </div>
          <div class="tp-caption large_black sfr carousel-caption-inner" data-x="120" data-y="300" data-speed="1100" data-start="1400" data-easing="easeInOutBack"
            style="">
            <img src="images/sep-b.png" alt="" />
          </div>
          <div class="tp-caption lfb carousel-caption-inner" data-x="120" data-y="350" data-speed="1300" data-start="1700" data-easing="easeInOutBack"
            style="font-family: cabin Sans; font-size: 17px; font-weight: bold; text-transform: uppercase; color: #232323;">
            get upto 50% offer for order over $499!
          </div>
        </li>

        <li data-transition="random" data-slotamount="7" data-masterspeed="1000">
          <img src="images/slider-temp2.jpg" alt="slide" >

          <div class="tp-caption large_black sfr" data-x="120" data-y="140" data-speed="1100" data-start="1100" data-easing="easeInOutBack"
            style="font-size: 95px; font-weight: normal; text-transform: inherit; color: #ff6766;font-family: manustrialmanustrial;font-style:italic;text-shadow:0px 0px 3px #000;">
            Summer
          </div>
          <div class="tp-caption large_black sfr" data-x="120" data-y="230" data-speed="1100" data-start="1400" data-easing="easeInOutBack"
            style="font-family: 'Montserrat', sans-serif; font-size: 68px; font-weight: 700; line-height:80px;text-transform: uppercase; color: #232323; text-shadow: 0 0 3px #fff">
            20015 collection
          </div>
          <div class="tp-caption large_black sfr carousel-caption-inner" data-x="120" data-y="300" data-speed="1100" data-start="1400" data-easing="easeInOutBack"
            style="">
            <img src="images/sep-b.png" alt="" />
          </div>
          <div class="tp-caption lfb carousel-caption-inner" data-x="120" data-y="350" data-speed="1300" data-start="1700" data-easing="easeInOutBack"
            style="font-family: cabin Sans; font-size: 17px; font-weight: bold; text-transform: uppercase; color: #232323;">
            get upto 50% offer for order over $499!
          </div>
        </li>

        <li data-transition="random" data-slotamount="7" data-masterspeed="1000">
          <img src="images/slider-temp.jpg" alt="slide" >

          <div class="tp-caption large_black sfr" data-x="120" data-y="140" data-speed="1100" data-start="1100" data-easing="easeInOutBack"
            style="font-size: 95px; font-weight: normal; text-transform: inherit; color: #ff6766;font-family: manustrialmanustrial;font-style:italic;text-shadow:0px 0px 3px #000;">
            Summer
          </div>
          <div class="tp-caption large_black sfr" data-x="120" data-y="230" data-speed="1100" data-start="1400" data-easing="easeInOutBack"
            style="font-family: 'Montserrat', sans-serif; font-size: 68px; font-weight: 700; line-height:80px;text-transform: uppercase; color: #232323; text-shadow: 0 0 3px #fff">
            20015 collection
          </div>
          <div class="tp-caption large_black sfr carousel-caption-inner" data-x="120" data-y="300" data-speed="1100" data-start="1400" data-easing="easeInOutBack"
            style="">
            <img src="images/sep-b.png" alt="" />
          </div>
          <div class="tp-caption lfb carousel-caption-inner" data-x="120" data-y="350" data-speed="1300" data-start="1700" data-easing="easeInOutBack"
            style="font-family: cabin Sans; font-size: 17px; font-weight: bold; text-transform: uppercase; color: #232323;">
            get upto 50% offer for order over $499!
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- HOME SLIDER -->
