<!-- HOME SLIDER -->
<div class="slider-wrap">
  <div class="fullwidthbanner-container" >
    <div class="fullwidthbanner">
      <ul>
        <li data-transition="random" data-slotamount="7" data-masterspeed="1000">
          <img src="assets/images/slider-big.jpg" alt="slide" >

          <div class="tp-caption large_black sfr" data-x="120" data-y="140" data-speed="1100" data-start="1100" data-easing="easeInOutBack"
            style="font-size: 95px; font-weight: normal; text-transform: inherit; color: #1e1f1be3; font-family: fantasy; font-style:italic;text-shadow:0px 0px 3px #000;">
            PokeMon
          </div>
          <div class="tp-caption large_black sfr" data-x="120" data-y="230" data-speed="1100" data-start="1400" data-easing="easeInOutBack"
            style="font-family: 'Microsoft JhengHei', sans-serif; font-size: 68px; font-weight: 700; line-height:80px;text-transform: uppercase; color: #232323; text-shadow: 0 0 3px #fff">
            就決定是你了!
          </div>
          <div class="tp-caption large_black sfr carousel-caption-inner" data-x="120" data-y="300" data-speed="1100" data-start="1400" data-easing="easeInOutBack">
            <img src="assets/images/sep-b.png" alt="" />
          </div>
        </li>

        <li data-transition="random" data-slotamount="7" data-masterspeed="1000">
          <img src="assets/images/slider-big2.jpg" alt="slide" >

          <div class="tp-caption large_black sfr" data-x="120" data-y="140" data-speed="1100" data-start="1100" data-easing="easeInOutBack"
            style="font-size: 95px; font-weight: bold; text-transform: inherit; color: #1e1f1be3;font-family: 'Microsoft JhengHei';font-style:italic;text-shadow:0px 0px 3px #000;">
            還沒加入會員嗎
          </div>
          <div class="tp-caption large_black sfr" data-x="120" data-y="230" data-speed="1100" data-start="1400" data-easing="easeInOutBack"
            style="font-family: 'Microsoft JhengHei', sans-serif; font-size: 68px; font-weight: 700; line-height:80px;text-transform: uppercase; color: #232323; text-shadow: 0 0 3px #fff">
            廢話! 因為我們功能還沒做
          </div>
          <div class="tp-caption large_black sfr carousel-caption-inner" data-x="120" data-y="300" data-speed="1100" data-start="1400" data-easing="easeInOutBack">
            <img src="assets/images/sep-b.png" alt="" />
          </div>
        </li>

        <li data-transition="random" data-slotamount="7" data-masterspeed="1000">
          <img src="assets/images/slider-big3.jpg" alt="slide" >

          <div class="tp-caption large_black sfr" data-x="120" data-y="140" data-speed="1100" data-start="1100" data-easing="easeInOutBack"
            style="font-size: 95px; font-weight: normal; text-transform: inherit; color: #1e1f1be3;font-family: manustrialmanustrial;text-shadow:0px 0px 3px #000;">
            Do the right thing
          </div>
          <div class="tp-caption large_black sfr" data-x="120" data-y="230" data-speed="1100" data-start="1400" data-easing="easeInOutBack"
            style="font-family: manustrialmanustrial, sans-serif; font-size: 68px; font-weight: 700; line-height:80px;text-transform: uppercase; color: #232323; text-shadow: 0 0 3px #fff">
            Do thing right!
          </div>
          <div class="tp-caption large_black sfr carousel-caption-inner" data-x="120" data-y="300" data-speed="1100" data-start="1400" data-easing="easeInOutBack">
            <img src="assets/images/sep-b.png" alt="" />
          </div>
          <div class="tp-caption lfb carousel-caption-inner" data-x="120" data-y="350" data-speed="1300" data-start="1700" data-easing="easeInOutBack"
            style="font-family: cabin Sans; font-size: 17px; font-weight: bold; text-transform: uppercase; color: #232323;">
            史上最強饒舌歌手柯文哲
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- HOME SLIDER -->
