<section class="blog_slider_area">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="blog_slider_box">
              <h2>Blog</h2>
            </div>
          </div>
        </div>
      </div>
</section>

<div class="breadcumb_area">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="bread_box">
              <ul class="breadcumb">
                <li><a [routerLink]="['/index']" routerLinkActive="router-link-active">home <span>|</span></a></li>
                <li class="active"><a [routerLink]="['/']" routerLinkActive="router-link-active">blog</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
</div>

<section class="blog_page_area">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="single_blog_in_page">
              <div class="blog_img_l"><img src="images/blog_page1.jpg" alt="" /></div>
              <div class="blog_date_in_page">
                <h2>_ <span>12</span></h2>
                <p>april 2015</p>
              </div>
              <div class="blog_text_in_page">
                <a [routerLink]="['/single-blog']" routerLinkActive="router-link-active"><h3>this is blog design for mens wear shop</h3></a>
                <h4>By <span>Admin</span>,   comments  <span>23</span>,   summer special</h4>
                <p>Nolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exeap
                quat Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepta
                cupidar dolor sit amets non numquam thas dolorem ipsum quialas[...]</p>
                <div class="read_more">
                  <a class="read_more_blog" [routerLink]="['/single-blog']" routerLinkActive="router-link-active">Read more</a>
                </div>
              </div>
            </div>
            <div class="single_blog_in_page">
              <div class="blog_img_l"><img src="images/blog_page2.jpg" alt="" /></div>
              <div class="blog_date_in_page">
                <h2>_ <span>05</span></h2>
                <p>april 2015</p>
              </div>
              <div class="blog_text_in_page">
                <a [routerLink]="['/single-blog']" routerLinkActive="router-link-active"><h3>this is blog design for mens wear shop</h3></a>
                <h4>By <span>Admin</span>,   comments  <span>23</span>,   summer special</h4>
                <p>Nolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exeap
                quat Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepta
                cupidar dolor sit amets non numquam thas dolorem ipsum quialas[...]</p>
                <div class="read_more">
                  <a class="read_more_blog" [routerLink]="['/single-blog']" routerLinkActive="router-link-active" >Read more</a>
                </div>
              </div>
            </div>
            <div class="single_blog_in_page last_single_blog_in_page">
              <div class="blog_img_l"><img src="images/blog_page3.jpg" alt="" /></div>
              <div class="blog_date_in_page">
                <h2>_ <span>02</span></h2>
                <p>april 2015</p>
              </div>
              <div class="blog_text_in_page">
                <a [routerLink]="['/single-blog']" routerLinkActive="router-link-active" ><h3>this is blog design for mens wear shop</h3></a>
                <h4>By <span>Admin</span>,   comments  <span>23</span>,   summer special</h4>
                <p>Nolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exeap
                quat Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepta
                cupidar dolor sit amets non numquam thas dolorem ipsum quialas[...]</p>
                <div class="read_more">
                  <a class="read_more_blog" [routerLink]="['/single-blog']" routerLinkActive="router-link-active" >Read more</a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="pagi_line"></div>
                <div class="pagi_ul">
                  <ul id="pagination">
                    <li><a>Previous</a></li>
                    <li><a>1</a></li>
                    <li><a>2</a></li>
                    <li><a>3</a></li>
                    <li><a>4</a></li>
                    <li><a>5 ...</a></li>
                    <li><a>Next</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="blog_page_sidebar">
              <div class="blog_search">
                <input type="text" placeholder="search post HERE..." />
                <i class="fa fa-search"></i>
              </div>
              <div class="blog_widget">
                <h2>TEXT WIDGET</h2>
                <div class="multi_line"></div>
                <p>Nemo enim ipsam volupitatem quia voluptas sia aspernatur aut odit aut fugit, sed quia cosequun tur magni dolores eos qui ratione volup tatemas sequi nesciuntsa Neque porro.</p>
              </div>
              <div class="blog_categories">
                <h2>POST CATEGORIES</h2>
                <div class="multi_line"></div>
                <ul id="blog_categories">
                  <li><a>Stylish Looks</a></li>
                  <li><a>Fashion Of the week</a></li>
                  <li><a>Summer Special</a></li>
                  <li><a>Offers & Discounts</a></li>
                  <li><a>Seller of the day</a></li>
                  <li><a>Best reviews</a></li>
                </ul>
              </div>
              <div class="blog_recent_post">
                <h2>RECENT POST</h2>
                <div class="multi_line"></div>
                <div class="single_recent_post">
                  <div class="log_li_img">
                    <img src="images/blog_li.png" alt="" />
                  </div>
                  <div class="recent_post_text">

                    <a [routerLink]="['/single-blog']" routerLinkActive="router-link-active" ><h3>Beritatis et Quasi Arcteco<br>
                      veatae Vitae</h3></a>
                    <p>April 2015</p>
                  </div>
                  <div class="recent_post_img">
                    <a [routerLink]="['/single-blog']" routerLinkActive="router-link-active" ><img src="images/recent_post1.png" alt="" /></a>
                  </div>
                </div>
                <div class="single_recent_post">
                  <div class="log_li_img">
                    <img src="images/blog_li.png" alt="" />
                  </div>
                  <div class="recent_post_text">

                    <a [routerLink]="['/single-blog']" routerLinkActive="router-link-active" ><h3>Beritatis et Quasi Arcteco<br>
                      veatae Vitae</h3></a>
                    <p>April 2015</p>
                  </div>
                  <div class="recent_post_img">
                    <a [routerLink]="['/single-blog']" routerLinkActive="router-link-active" ><img src="images/recent_post2.png" alt="" /></a>
                  </div>
                </div>
                <div class="single_recent_post">
                  <div class="log_li_img">
                    <img src="images/blog_li.png" alt="" />
                  </div>
                  <div class="recent_post_text">

                    <a [routerLink]="['/single-blog']" routerLinkActive="router-link-active" ><h3>Beritatis et Quasi Arcteco<br>
                      veatae Vitae</h3></a>
                    <p>April 2015</p>
                  </div>
                  <div class="recent_post_img">
                    <a [routerLink]="['/single-blog']" routerLinkActive="router-link-active" ><img src="images/recent_post3.png" alt="" /></a>
                  </div>
                </div>
              </div>
              <div class="instrigram">
                <h2>Instagram</h2>
                <div class="multi_line"></div>
                <ul id="instrigram">
                  <li><a [routerLink]="['/single-blog']" routerLinkActive="router-link-active" ><img src="images/blog-side1.jpg" alt="" /></a></li>
                  <li><a [routerLink]="['/single-blog']" routerLinkActive="router-link-active" ><img src="images/blog-side2.jpg" alt="" /></a></li>
                  <li><a [routerLink]="['/single-blog']" routerLinkActive="router-link-active" ><img src="images/blog-side3.jpg" alt="" /></a></li>
                  <li><a [routerLink]="['/single-blog']" routerLinkActive="router-link-active" ><img src="images/blog-side4.jpg" alt="" /></a></li>
                  <li><a [routerLink]="['/single-blog']" routerLinkActive="router-link-active" ><img src="images/blog-side5.jpg" alt="" /></a></li>
                  <li><a [routerLink]="['/single-blog']" routerLinkActive="router-link-active" ><img src="images/blog-side6.jpg" alt="" /></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
