<footer class="entire_footer_area">
  <div class="footer_top_area">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-sm-6 col-xs-12">
          <div class="footer_top_left">
            <!-- Todo: 聯絡客服 -->
            <!-- <a [routerLink]="['/']" routerLinkActive="router-link-active" ><i class="fa fa-envelope"></i>signup newsletter</a>
            <input type="text" placeholder=""/>
            <input type="submit" value="submit"/> -->
          </div>
        </div>

        <!-- 付款方式, 應該不是放在這裡, 先comment掉 -->
        <!-- <div class="col-md-5 col-sm-6 col-xs-12">
          <div class="footer_top_right">
            <ul id="payment">
              <li><a [routerLink]="['/']" routerLinkActive="router-link-active">
                <img src="images/pay1.png" alt="" />
              </a></li>
              <li><a [routerLink]="['/']" routerLinkActive="router-link-active">
                <img src="images/pay2.png" alt="" />
              </a></li>
              <li><a [routerLink]="['/']" routerLinkActive="router-link-active">
                <img src="images/pay3.png" alt="" />
              </a></li>
              <li><a [routerLink]="['/']" routerLinkActive="router-link-active">
                <img src="images/pay4.png" alt="" />
              </a></li>
              <li><a [routerLink]="['/']" routerLinkActive="router-link-active">
                <img src="images/pay5.png" alt="" />
              </a></li>
            </ul>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <div class="footer_area">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12">
          <div class="single_widget">
            <!-- 未確定這區要做什麼 -->
            <!-- <h5>information</h5>
            <div class="wid_line"></div>
            <ul class="widget_nav">
              <li><a [routerLink]="['/']" routerLinkActive="router-link-active">New Products</a></li>
              <li><a [routerLink]="['/']" routerLinkActive="router-link-active">Top Seller</a></li>
              <li><a [routerLink]="['/']" routerLinkActive="router-link-active">Special</a></li>
              <li><a [routerLink]="['/']" routerLinkActive="router-link-active">Manufactures</a></li>
              <li><a [routerLink]="['/']" routerLinkActive="router-link-active">Suppliers</a></li>
              <li><a [routerLink]="['/']" routerLinkActive="router-link-active">Our Stores</a></li>
            </ul> -->
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <div class="single_widget">
            <!-- Todo: 會員系統 -->
            <!-- <h5>帳號管理</h5>
            <div class="wid_line"></div>
            <ul class="widget_nav">
              <li><a [routerLink]="['/']" routerLinkActive="router-link-active">我的帳號</a></li>
              <li><a [routerLink]="['/']" routerLinkActive="router-link-active">資訊</a></li>
              <li><a [routerLink]="['/']" routerLinkActive="router-link-active">Addresses</a></li>
              <li><a [routerLink]="['/']" routerLinkActive="router-link-active">Discounts</a></li>
              <li><a [routerLink]="['/']" routerLinkActive="router-link-active">訂單歷史</a></li>
              <li><a [routerLink]="['/']" routerLinkActive="router-link-active">Your Vouchers</a></li>
            </ul> -->
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <div class="single_widget">
            <!-- Todo: 客服系統 -->
            <!-- <h5>客服中心</h5>
            <div class="wid_line"></div>
            <ul class="widget_nav">
              <li><a [routerLink]="['/']" routerLinkActive="router-link-active">Help & Contact</a></li>
              <li><a [routerLink]="['/']" routerLinkActive="router-link-active">Shipping & Taxes</a></li>
              <li><a [routerLink]="['/']" routerLinkActive="router-link-active">Return Policy</a></li>
              <li><a [routerLink]="['/']" routerLinkActive="router-link-active">Careers</a></li>
              <li><a [routerLink]="['/']" routerLinkActive="router-link-active">Affliates</a></li>
              <li><a [routerLink]="['/']" routerLinkActive="router-link-active">Legal Notice</a></li>
            </ul> -->
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <div class="single_widget">
            <h5>聯絡我們</h5>
            <div class="wid_line"></div>
            <address>
              地址 : 台北市基隆路四段43號<br>
              Phone : (02) 2345 6789<br>
              Email : NTUSTFullStack@mail.ntust.edu.tw
            </address>
            <ul class="wid_social">
              <li><a class="fa fa-facebook" href="https://www.facebook.com/"></a></li>
              <li><a class="fa fa-twitter" href="https://twitter.com/?lang=en"></a></li>
              <li><a class="fa fa-google-plus" href="https://plus.google.com/discover"></a></li>
              <li><a class="fa fa-pinterest" href="https://www.pinterest.com/"></a></li>
              <li><a class="fa fa-rss" href="https://fontawesome.com/icons/rss?style=solid"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_bottom_area">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="footer_bottom">
            <p>Copyright &copy; 2015 <a [routerLink]="['/index']" routerLinkActive="router-link-active" >Men’swaer</a>. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
