<section class="blog_slider_area">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="blog_slider_box">
						<h2>blog - single</h2>
					</div>
				</div>
			</div>
		</div>
</section>
  <div class="breadcumb_area">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="bread_box">
						<ul class="breadcumb">
							<li><a [routerLink]="['/']" routerLinkActive="router-link-active" >home <span>|</span></a></li>
              <li><a [routerLink]="['/blog']" routerLinkActive="router-link-active" >blog <span>|</span></a></li>
							<li class="active"><a [routerLink]="['/']" routerLinkActive="router-link-active" >blog - single</a></li>
						</ul>
					</div>
				</div>
			</div>
    </div>
</div>
<section class="blog_page_area">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-sm-8 col-xs-12">
					<div class="single_blog_in_page">
						<div class="blog_img_l"><img src="images/blog_page2.jpg" alt="" /></div>
						<div class="blog_date_in_page">
							<h2>_ <span>18</span></h2>
							<p>april 2015</p>
						</div>
						<div class="blog_text_in_page">
							<h3>this is blog design for mens wear shop</h3>
							<h4>By <span>Admin</span>,   comments  <span>23</span>,   summer special</h4>
						</div>
						<div class="blog_detail_in_page">
							<p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam volupitatemne quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magnsi dolores eos qui ratione voluptatem sequi nesciuntsa Neque porro quisquam est, qui dolorem  totam rem aperiam,Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitaelan dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magniyas dolores eos qui ratione voluptatem sequi nesciunt. Nequeo porro quisquam est.</p>
							<ul id="single_blog_nav">
								<li><a [routerLink]="['/']" routerLinkActive="router-link-active"><i class="fa fa-caret-right"></i> Nemo enim ipsam volupitatem quia voluptas sit aspernatur aut odit aut fugit.</a></li>
								<li><a [routerLink]="['/']" routerLinkActive="router-link-active"><i class="fa fa-caret-right"></i> Dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia nonas.</a></li>
								<li><a [routerLink]="['/']" routerLinkActive="router-link-active"><i class="fa fa-caret-right"></i> Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil.</a></li>
							</ul>
							<p>Taque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam volu pitatemna quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciuntsal Neque porro quisquam est, qui dolorem  totam rem aperiam,<br><br>

							Saque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam volu pitatemoa quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciuntsia Neque porro quisquam est qui dolorem  totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitaelan dicta sunt explicabo Nemo enim ipsam voluptatem quia voluptas.
							</p>
						</div>
						<div class="share">
							<span>12 shares</span>
						</div>
						<div class="share_icons">
							<ul id="share_icon">
								<li><a class="fa fa-facebook" [routerLink]="['/']" routerLinkActive="router-link-active"></a></li>
								<li><a class="fa fa-twitter" [routerLink]="['/']" routerLinkActive="router-link-active"></a></li>
								<li><a class="fa fa-google-plus" [routerLink]="['/']" routerLinkActive="router-link-active"></a></li>
								<li><a class="fa fa-linkedin" [routerLink]="['/']" routerLinkActive="router-link-active"></a></li>
							</ul>
						</div>
					</div>
					<div class="comments">
						<h2>Comments(3)</h2>
						<div class="multi_line"></div>
						<div class="single_comment">
							<div class="comment_img">
								<img src="images/comment1.png" alt="" />
							</div>
							<div class="comment_text">
								<div class="comment_name">
								 <h3>MICHEL SMITH   |   <span>April 18, 2015 at 5.00 pm</span></h3>
								</div>
								<div class="reply"><span>Reply</span></div>
								<div class="comment-detail">
								<p>Very nice job, Really i Love it aspernatur aut odit aut fugite sednu quia conse quunture magni
								dolores eos qui kra tione voluptatem sequi Neque porro quisquam est.</p>
								</div>
							</div>
						</div>
						<div class="single_comment even">
							<div class="comment_img">
								<img src="images/comment1.png" alt="" />
							</div>
							<div class="comment_text">
								<div class="comment_name">
								 <h3>KARIM TALKA   |   <span>April 18, 2015 at 5.00 pm</span></h3>
								</div>
								<div class="reply"><span>Reply</span></div>
								<div class="comment-detail">
								<p>Very nice job, Really i Love it aspernatur aut odit aut fugite sednu quia conse quunture magni
								dolores eos qui kra tione voluptatem sequi Neque porro quisquam est.</p>
								</div>
							</div>
						</div>
						<div class="single_comment">
							<div class="comment_img">
								<img src="images/comment1.png" alt="" />
							</div>
							<div class="comment_text">
								<div class="comment_name">
								 <h3>ROCK LANCER   |   <span>April 18, 2015 at 5.00 pm</span></h3>
								</div>
								<div class="reply"><span>Reply</span></div>
								<div class="comment-detail">
								<p>Very nice job, Really i Love it aspernatur aut odit aut fugite sednu quia conse quunture magni
								dolores eos qui kra tione voluptatem sequi Neque porro quisquam est.</p>
								</div>
							</div>
						</div>
					</div>

					<div class="leave_a_reply">
						<h2>leave a reply</h2>
						<div class="multi_line"></div>
						<div class="left_input">
							<p>Name<span>*</span></p>
							<input type="text"/><br>
							<p>Email<span>*</span></p>
							<input type="text"/><br>
							<p>Phone Number<span>*</span></p>
							<input type="text"/>
						</div>
						<div class="right_input">
							<p>Comments</p>
							<textarea name="" cols="30" rows="10"></textarea>
							<input type="submit" value="post comment" />
						</div>
					</div>

				</div>

				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="blog_page_sidebar">
						<div class="blog_search">
							<input type="text" placeholder="search post HERE..." />
							<i class="fa fa-search"></i>
						</div>
						<div class="blog_widget">
							<h2>TEXT WIDGET</h2>
							<div class="multi_line"></div>
							<p>Nemo enim ipsam volupitatem quia voluptas sia aspernatur aut odit aut fugit, sed quia cosequun tur magni dolores eos qui ratione volup tatemas sequi nesciuntsa Neque porro.</p>
						</div>
						<div class="blog_categories">
							<h2>POST CATEGORIES</h2>
							<div class="multi_line"></div>
							<ul id="blog_categories">
								<li><a >Stylish Looks</a></li>
								<li><a >Fashion Of the week</a></li>
								<li><a >Summer Special</a></li>
								<li><a >Offers & Discounts</a></li>
								<li><a >Seller of the day</a></li>
								<li><a >Best reviews</a></li>
							</ul>
						</div>
						<div class="blog_recent_post">
							<h2>RECENT POST</h2>
							<div class="multi_line"></div>
							<div class="single_recent_post">
								<div class="log_li_img">
									<img src="images/blog_li.png" alt="" />
								</div>
								<div class="recent_post_text">

									<a [routerLink]="['/single-blog']" routerLinkActive="router-link-active" ><h3>Beritatis et Quasi Arcteco<br>
										veatae Vitae</h3></a>
									<p>April 2015</p>
								</div>
								<div class="recent_post_img">
									<a [routerLink]="['/single-blog']" routerLinkActive="router-link-active" ><img src="images/recent_post1.png" alt="" /></a>
								</div>
							</div>
							<div class="single_recent_post">
								<div class="log_li_img">
									<img src="images/blog_li.png" alt="" />
								</div>
								<div class="recent_post_text">

									<a [routerLink]="['/single-blog']" routerLinkActive="router-link-active" ><h3>Beritatis et Quasi Arcteco<br>
										veatae Vitae</h3></a>
									<p>April 2015</p>
								</div>
								<div class="recent_post_img">
									<a [routerLink]="['/single-blog']" routerLinkActive="router-link-active" ><img src="images/recent_post2.png" alt="" /></a>
								</div>
							</div>
							<div class="single_recent_post">
								<div class="log_li_img">
									<img src="images/blog_li.png" alt="" />
								</div>
								<div class="recent_post_text">

									<a [routerLink]="['/single-blog']" routerLinkActive="router-link-active" ><h3>Beritatis et Quasi Arcteco<br>
										veatae Vitae</h3></a>
									<p>April 2015</p>
								</div>
								<div class="recent_post_img">
									<a [routerLink]="['/single-blog']" routerLinkActive="router-link-active" ><img src="images/recent_post3.png" alt="" /></a>
								</div>
							</div>
						</div>
						<div class="instrigram">
							<h2>Instagram</h2>
							<div class="multi_line"></div>
							<ul id="instrigram">
								<li><a [routerLink]="['/single-blog']" routerLinkActive="router-link-active" ><img src="images/blog-side1.jpg" alt="" /></a></li>
								<li><a [routerLink]="['/single-blog']" routerLinkActive="router-link-active" ><img src="images/blog-side2.jpg" alt="" /></a></li>
								<li><a [routerLink]="['/single-blog']" routerLinkActive="router-link-active" ><img src="images/blog-side3.jpg" alt="" /></a></li>
								<li><a [routerLink]="['/single-blog']" routerLinkActive="router-link-active" ><img src="images/blog-side4.jpg" alt="" /></a></li>
								<li><a [routerLink]="['/single-blog']" routerLinkActive="router-link-active" ><img src="images/blog-side5.jpg" alt="" /></a></li>
								<li><a [routerLink]="['/single-blog']" routerLinkActive="router-link-active" ><img src="images/blog-side6.jpg" alt="" /></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>
